{% extends "projects/ethical_tdm/ethical_tdm_template.html" %}

{% load static %}

{% block title %}Data Collection and Measurement{% endblock %}

{% block other-head %}
{% endblock %}

{% block pagetitle %}Ethical Development of a Transportation Demand Model{% endblock %}

{% block subtitle %}Usage/Revision, Scaling, and Long Term Considerations{% endblock %}

{% block subcontent %}

<div class="paragraphs text-left">
    
    <div class="container site-width">
        <div class="container mx-auto">
            <figure class="figure mx-auto" style="display: block;">
                <img src="{% static 'mysite/urban_planning.jpg' %}" class="figure-img img-fluid mx-auto" style="height: auto; display: block;">
                <figcaption class="figure-caption text-center">A rendered version of Boston's Resilient Harbor Vision, created by SCAPE Landscape Architecture, aimed at mitigating the effects of climate change. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://www.architecturaldigest.com">Architecture Digest</a>.</figcaption>
            </figure>
        </div>
    </div>
    
    <p>As already mentioned in the Analysis and Modeling section, the output of the model will be a series of maps of the transportation network with level of service values for each segment of the network. The reason multiple maps are output is to see the level of service for different transportation modes, different groups of interest, and different level of service metrics.</p>

    <p>Then, using my model, it would be possible to generate a series of maps similar to what can be seen below:</p>

    <div class="row">
        <div class="col-sm-6">
            <figure class="figure mw-100">
                <img src="{% static 'mysite/tdm_sim_proposed_2005.png' %}" class="figure-img img-fluid">
                <figcaption class="figure-caption text-center">How proposed street and highway network improvements are projected to perform in 2005. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://dmampo.org/">Des Moines Area MPO</a>.</figcaption>
            </figure>
        </div>
        <div class="col-sm-6">
            <figure class="figure mw-100">
                <img src="{% static 'mysite/tdm_sim_proposed_2030.png' %}" class="figure-img img-fluid">
                <figcaption class="figure-caption text-center">How proposed street and highway network improvements are projected to perform in 2030. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://dmampo.org/">Des Moines Area MPO</a>.</figcaption>
            </figure>
        </div>
    </div>

    <div class="text-center">
        <h6>Usage Examples</h6>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <p>In addition to analyzing how proposed transportation infrastructure changes will perform over time, my model can also be used to analyze the impact of different proposed infrastructure changes.</p>

            <p>As can be seen in the image on the right, a large variety of infrastructure/housing changes have been proposed for a variety of cities around the world. Using my model, each of these proposals could be analyzed specifically for their impact on non-car transportation and especially the impact on disadvantaged groups.</p>

            <p>Let's take the example of the third planning alternative for London, where new street trees would be added and green roofs would be added. An immediate impact of the addition of vegetation would be to reduce the heat island effect (see <a rel="noopener noreferrer" target="_blank" href="https://www.epa.gov/heatislands">The US EPA's info page</a>).</p>

            <p>By reducing the overall temperature in urban London, the area becomes more attractive (due to increased comfort) for non-car transportation. Additionally, it is more enjoyable to (for example) walk around in an area with trees. These factors would be represented in my model as an overall increased level of non-car transportation for both recreation and utilitarian purposes.</p>

            <p>With respect to a specific disadvantaged group, the elderly, such a change in London would have the additional effect of making sidewalks safer (both perceived and actual safety). This is because street trees represent a physical separation between the road and sidewalks (assuming of course that trees are between the road and sidewalk) reducing the perceived/actual risk of cars running onto pedestrian areas. In this sense, my model could accurately predict the increased mobility of the elderly and even encourage urban planners to make these kinds of changes. By raising the level of mobility of the elderly closer to their younger counterparts, better equality has been achieved.</p>

            <p>Along similar lines, the proper usage of my model could result in better equality for the mobility of children. The model would show that certain traffic calming measures and mixed land use policies encourage the non-car mobility of children.</p>

            <p>If children are allowed to walk/bike/transit to other places (school, friend's houses, parks, etc.) as a result of my model's encouragement, they get daily exercise (helping to combat the childhood obesity epidemic in the US) and gain independence.</p>

            <p>To summarize, the proper usage of my model can encourage everyone (but especially members of disadvantaged groups) to be more mobile and healthier.</p>
        </div>
        <div class="col-sm-7">
            <figure class="figure mw-100">
                <img src="{% static 'mysite/alternate_plans.png' %}" class="figure-img img-fluid">
                <figcaption class="figure-caption text-center">A number of alternate plans that could be analyzed using my model. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://doi.org/10.1016/j.landurbplan.2012.12.005">Nektarios Chrysoulakis et al.</a>.</figcaption>
            </figure>
        </div>
    </div>

    <div class="text-center">
        <h6>Revision Examples</h6>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <figure class="figure">
                <img src="{% static 'mysite/micromobility_parking.jpg' %}" class="figure-img img-fluid">
                <figcaption class="figure-caption text-center">Perhaps the only infrastructure shared micro-mobility requires. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://www.coastsidebuzz.com">Coastside BUZZ</a>.</figcaption>
            </figure>
        </div>
        <div class="col-sm-6">
            <p>The primary revision situation would occur with the introduction of new transportation technology. In other words, anything from the introduction of micro-mobility sharing platforms to cheap and ubiquitous hovercraft technology would qualify for a revision.</p>

            <p>However, not all transportation technologies are built equally. Micro-mobility sharing (or just micro-mobility in general) can easily use existing transportation networks. Perhaps the only bit of revision the model would need would be to consider the effect of those micro-mobility parking spots.</p>

            <p>In this situation, the model or one sub-model should be retrained to accommodate this new phenomenon. Data should come from areas that already have implemented such infrastructure improvements and should take the form of before/after trip data. So while data is being gathered or the model is being retrained, the model should not be applied to analyze these kinds of infrastructure improvements.</p>

            <p>In the long term, it would be important for the model's maintainers to keep track of new transportation technology so that the model can be updated before the new transportation technology becomes widespread.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <p>However, if hovercrafts were to be introduced, they would likely require significant new infrastructure everywhere for storage, takeoff/landing, and re-fueling. Under such a situation, my model would fail completely to predict how travel mode choice would change.</p>

            <p>Similar to the introduction of shared micro-mobility, all that can be done is to (in this case) train a whole new sub-model dedicated to the transportation network of airborne vehicles. I don't expect the adoption of new technology like this to come quick nor be widespread, so there would be time to create a new sub-model.</p>

            <p>To be explicit, the data for a new sub-model would come from (most likely geographically limited) pilot programs, peer-reviewed studies, and so on. I would also expect new transportation technology to have rapidly evolving infrastructure requirements, so that would also have to be tracked.</p>

            <p>Again, in the long term, some kind of monitoring would be necessary so that new technologies and infrastructure could be added to the model. I expect the technical/financial side of maintaining this model to be the most significant long term consideration.</p>
        </div>
        <div class="col-sm-5"> 
            <figure class="figure mw-100">
                <img src="{% static 'mysite/future_transportation.jpg' %}" class="figure-img img-fluid">
                <figcaption class="figure-caption text-center">Someday we will all have personal air transportation and will be stuck in air traffic for hours at a time. I can't wait! Image credit to <a rel="noopener noreferrer" target="_blank" href="https://eandt.theiet.org/">Engineering & Technology</a>.</figcaption>
            </figure>
        </div>
    </div>

</div>

{% endblock %}


{% block scripts %}
{% endblock %}

