/*
Code projects stuff
*/

.project-header {
    padding: 0;
}

.stock-data-image {
    width: 100%;
    height: 215px;
    
    overflow: hidden;
}

.stock-data-image img{
    width: auto;
    height: auto;
    
}
