{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/astero.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: June 21, 2007<br>My Rating: {{ rating }}/5</p>

                <p>"Astero" by 37500 Yens is one of the best Math Rock albums every released. Written and performed by two incredibly obscure French guys, all we know are their first names: Jud on guitar and Frank on drums. Frank is one of the best drummers I've ever heard, somehow able to give structure to a fractal polyrhythmic heaven. Jud is a magician on the guitar, playing what sometimes sounds like three guitars at once through masterful usage of what I assume are looping and delay pedals.</p>

                <p>Of particular note are tracks 5 (Canard Boiteux) and 8 (The Sullivan's Quartet) both of which add a little extra on top of guitar and drums. Canard Boiteux features a four minute John Zorn-esque saxaphone freak-out which offers a much needed reprieve from the heavy guitars. The climax on The Sullivan's Quartet features the only vocals on the whole album, in the form of agonizing screams.</p>

                <p>"Astero" is truly unique, not just in Math Rock but in all music</p>

                <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_nGGe5URwGZEWwjajXeu9RPZscFeSM5K_0&si=8Y5GgesquiMLL4-h">https://music.youtube.com/playlist?list=OLAK5uy_nGGe5URwGZEWwjajXeu9RPZscFeSM5K_0&si=8Y5GgesquiMLL4-h</a></p>

                <p>Spotify: <a href="https://open.spotify.com/album/6uwPiAADXiJ1So8L6EFCti">https://open.spotify.com/album/6uwPiAADXiJ1So8L6EFCti</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}