{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/obrigagii.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: April 18, 2023<br>My Rating: {{ rating }}/5</p>

                <p>Although I usually send albums, this review is of a live performance on KEXP by the Mexican band Diles que no me maten, translated as Tell them not to kill me. The reason for this is that the first song is an improvisation (about 90% sure), the second is a single, and the last two are from different albums. But together they work together amazingly as a kind of greatest hits compilation.</p>

                <p>I really hate using this term, but Diles que no me maten seem to fit the exact definition of Art Rock, albeit their own sparse and minimal version of the genre. There's some recognizable rock elements, such as the drums on the second song, but their heavy usage of textures over melodies, extensive reverb, and unusual instruments (Sax, Trumpet, Cello, etc.) give them a truly unique sound in the world of rock.</p>

                <p>Furthermore, the vocalist of Diles que no me maten has pretty much the only spoken word style vocal delivery that I've liked in recent memory. That's even in spite of the fact that I speak zero Spanish, so it's solely based upon the sounds, rhythms, and cadence of the vocals. After listening to the whole performance, I would highly recommend you listen to the section from around 10:45 to 13:00, lying/sitting down, eyes closed, and just absorb.</p>

                <p>YT: <a href="https://www.youtube.com/watch?v=p0GLpHgTb4k">https://www.youtube.com/watch?v=p0GLpHgTb4k</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}