{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/the_new_sound.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: October 4, 2024<br>My Rating: {{ rating }}/5</p>

                <p>My favorite ever live band, which I was able to see twice before they disbanded in August this year, is British post-everything (but mostly jazz/rock) band Black Midi. Post-breakup all three members went their separate ways, with front man Geordie Greep continuing the sound of Black Midi in his first solo album, titled "The New Sound".</p>

                <p>If you were boring, you could describe "The New Sound" as Jazz-Rock with funny lyrics. But "The New Sound" falls squarely in the "maximalist music" style of Black Midi, so of course it has influences as diverse as Latin Rock, Brazilian Samba, and Free Jazz, with some Frank Zappa thrown in. Usually it's the instrumentals which are dialed to the max, but when they aren't you really get an earful of Greep crooning unhinged vulgarities. See for example, the lyrics to track #3 "Holy, Holy", a poster child of toxic masculinity. The way Greep decided to cosplay as Andrew Tate every time he opened his mouth really put me off on my first listen. But it's pretty clearly satire given how "maximalist" the misogyny is.</p>

                <p>Once I flipped the lyrics in my head from painful to funny, "The New Sound" pretty quickly rose to be my album of the year. I'll leave you with this fragment of a different review which I found both apt: "Give a man Twitter and he will go insane. Give him Nabokov and Tolstoy, and a vast array of classic films and decades of romantic compositions, and a history of philosophy from stoic to postmodern, and unfettered access to brainrot manosphere bullshit AND Twitter - and he will go insane and consequently make fascinating and beautiful art about it."</p>

                <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_nIE1xxww7KYtCPsXkj1qf-krFtRP-T3bA">https://music.youtube.com/playlist?list=OLAK5uy_nIE1xxww7KYtCPsXkj1qf-krFtRP-T3bA</a></p>

                <p>Spotify: <a href="https://open.spotify.com/album/07YS7ooqYtvPZLlW59MHY5">https://open.spotify.com/album/07YS7ooqYtvPZLlW59MHY5</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}