{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/la_brea.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: March 1st, 2025<br>My Rating: {{ rating }}/5</p>

                <p>These days there are quite a few attacks on diversity, for seemingly no good reason. I think all those people who attack diversity just need to come to San Diego and eat a California Burrito, which combines the best of Mexican, American, and French (joke) cuisines. I guess I'm saying that diversity is great since you get to mix and match the best parts of each and make something greater than the sum of its parts. </p>

                <p>Which is the convoluted lead in to some music I've listened to lately, which feels emblematic of the beauty of diversity in music. "La Brea" by Hesse Kassel combines an unbelievable number of influences and inspirations, so much that I feel the need to use bullet points:</p>

                <ul>
                    <li>I would call Hesse Kassel the world's best Black County, New Road tribute band and the world's third best Slint tribute band. Both of these bands have 10/10 albums, "Ants From Up There" and "Spiderland" respectively. By the way, the world's second best Slint tribute band is BC,NR according to the band itself. I have no idea who BC,NR think the best Slint tribute band is...</li>
                    <li>"La Brea" falls squarely in the rock tradition but use post-rock song structure of long ballad like songs with high highs and low lows. Also present are quite a few Jazz influences, mostly through the Jazz Rock and highly chaotic Avant-Prog traditions. In smaller quantities are Noise Rock, Drone, and maybe some Chamber Pop thrown in. And layered on top of everything is the spoken word vocals, which would feel right in place in Slam Poetry.</li>
                    <li>The instrumentation is what I mentally classify as Rock+. In other words, you have the stand Rock trio of guitar, bass, and drums, but add some unique instruments. Hesee Kassel is not too wild here, only adding on piano and saxophone as primary instruments with occasional strings.</li>
                </ul>

                <p>Essentially a post-rock album, "La Brea" definitely takes it's time through every track, with an average length of 10 minutes. Within each track, musical ideas are slowly massaged and kneaded to recombine in unique ways. The reason I spend so much time listening to new music is I'm trying to find new ways of titillating the senses and you can be sure that "La Brea" had me sufficiently titillated. I guarantee that unless you are as obsessed with Post-Rock as I am, you will hear at least one new musical trope in every song. </p>

                <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_l2EZjACWv0u4kBPVDqkW9CzbMWbLWfZDk">https://music.youtube.com/playlist?list=OLAK5uy_l2EZjACWv0u4kBPVDqkW9CzbMWbLWfZDk</a></p>

                <p>Spotify: <a href="https://open.spotify.com/album/4VMNGHzzMAkabEJmsZqeZT">https://open.spotify.com/album/4VMNGHzzMAkabEJmsZqeZT</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}