{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/attic_beast.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: March 15, 2017<br>My Rating: {{ rating }}/5</p>

                <p>In my long quest to find the next Lamp, I must have listened to every single decently rated or higher Japanese Jazz Pop album released in the last 20 years. My quest still continues, but in the process I discovered some hidden gems, such as 屋根裏獣 (translated as Attic Beast) by 吉澤嘉代子 (Kayoko Yoshizawa).</p>

                <p>I'll start by saying Attic Beast is possibly the most innovative album I've listened to, featuring a bewildering variety of instruments. At times, they combine into some kind of dense orchestral jazz, which is high energy but never loud. At other times, it's distilled down into Yoshizawa's calm voice over simple instrumentals. These two contrasting styles are very evident on track 7 地獄タクシー (translated as Hell Taxi), which I highly recommend as being a microcosm of the album as a whole.</p>

                <p>At the end of the day, Attic Beast is just a fun and playful album with constant switches of styles and many head bobbing moments. It's not my favorite album of all time, not even close, but it's probably among my most played albums of all time. Pretty much no matter how I'm feeling, it's always a good time to listen.</p>

                <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_lr8S458u5JTi8B-17bClnSMme-D6F5RJQ">https://music.youtube.com/playlist?list=OLAK5uy_lr8S458u5JTi8B-17bClnSMme-D6F5RJQ</a></p>

                <p>Spotify: <a href="https://open.spotify.com/album/5XjkMIxoHwWRZjRSktzTVv">https://open.spotify.com/album/5XjkMIxoHwWRZjRSktzTVv</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}