{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/this_old_house.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: February 18, 2024<br>My Rating: {{ rating }}/5</p>

                <p>It's always tragic when you find a song by a new artist that you really like, but nothing else they've written sounds quite like it. I randomly watched a live set from the band Mary in the Junkyard and their first song, titled "Goop", completely blew me away. I don't think I'm exaggerating when I say that they managed to make music which is truly unique. </p>

                <p>The combination of bass guitar on the melody, viola for accents, and drums behind has probably never been done before. The level of microtonal abuse coming out of the viola, which you'll hear from the very first second, sounds like someone handling the instrument for the first time, but it's intentional. The song itself features wildly oscillating tempo and time signature, to the point it often sounds shapeless. You would think the drums would lock down some semblance of rhythm, but all it does is highlight the complete lack of any. If I had any criticism of the song, it would be that the ending is fairly weak, abruptly fading into nothing (which itself is pretty weird), but perhaps that just adds to the charm.</p>

                <p>Unfortunately, it seems like the rest of Mary in the Junkyard's music is more standard Indie Rock without many standout features. As a result, "Goop" is the only song of theirs I would recommend, but it is a must listen</p>

                <p>YT: <a href="https://www.youtube.com/watch?v=j0Lgckxo0gM">https://www.youtube.com/watch?v=j0Lgckxo0gM</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}