{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/mj_lenderman.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: June 15th, 2019<br>My Rating: {{ rating }}/5</p>

                <p>Another one of my favorite albums of all time is "The Magnolia Electric Co." by Songs: Ohia. It gained this distinction by having some of the greatest lyricism ever written, expressed through band leader Jason Molina's struggles with depression, drug abuse, and love. But I'm not confident enough to review Molina's magnum opus, so instead this is about the self-titled album from MJ Lenderman, a love letter to Molina.</p>

                <p>MJ Lenderman's self-titled is a masterpiece of Country/Slacker Rock, which you can think of as slow and striped down Country music with a few rock elements. Notice both the lap steel guitar, a classic Country instrument which allows notes to smoothly glide between each other, and the saxophone highlights, which always elevates music in my eyes.</p>

                <p>In Slacker Rock style, the music gains a depressive tone through it's lethargic tempo and sparse instrumentation. In Country music sung by a male style, the lyrics are pretty uniformly sad and bittersweet. In combination, the album gains incredible weight despite its minimalism, demanding your full attention when listening. </p>

                <p>Although not quite at the level of Jason Molina (jokingly, MJ Lenderman needs an alcohol addiction to be that good), the album is full of poetry. In the track "Southern Birds", MJ Lenderman sings:</p>

                <p>With the patience of the willow<br>Who's waiting for that searchin' wind<br>Waiting for a light<br>So why, then, if this is true<br>Do I love the night and it's hollow moon<br>And those southern birds leaving me behind<br>When they go back home, I wanna go home<br>Fly home, fly home</p>

                <p>A seriously great album, a very solid 9/10. I would highly recommend you listen to both MJ Lenderman's self-titled and afterwards, "The Magnolia Electric Co." for comparison.</p>

                <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_lxNeecLrGUhTa3Q0ZFLxEK7ic758zPjJw">https://music.youtube.com/playlist?list=OLAK5uy_lxNeecLrGUhTa3Q0ZFLxEK7ic758zPjJw</a></p>

                <p>Spotify: <a href="https://open.spotify.com/album/2jqRKWESMCzcoGo7ZPHdHQ">https://open.spotify.com/album/2jqRKWESMCzcoGo7ZPHdHQ</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}