{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/daughter_of_darkness.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: January 27th, 2009<br>My Rating: {{ rating }}/5</p>

                <p>Happy Birthday to one of my favorite albums ever released! "Daughter of Darkness" by Natural Snow Buildings turned 16 years old on January 27th. This titanic work of art, a 7+ hour long recording of Drone/Folk music, contains the most immersive soundscape you will ever hear. I've listened to this album lying down in bed and it demands you to close your eyes and focus on the pulsing noise. I've also listened to this album while working or reading and entered hours long flow states with the fuzz drowning out distractions. </p>

                <p>The way the music is built, from it's long pulsing drones of bowed guitar, from the layered sounds to the most chilling silence you'll ever hear, "Daughter of Darkness" feels like a living, breathing organism. Some kind of sea creature which has been hibernating at the bottom of the ocean undisturbed for centuries. It really evokes a mood of timeless alien dreaming.</p>

                <p>At this point, I believe the bowed guitar, which is the primary source of droning sound in "Daughter of Darkness", is my favorite instrument. There's something impossibly ethereal about a single note being played for long periods of time with the only variation being in microtonal adjustments, volume, and pedal effects. A big reason why "Flood" by Boris is my favorite album of all time is the 20 second long one note bowed guitar solo played by Wata which conveys more emotion than any melody has ever done. </p>

                <p>I know that asking someone to listen to 7+ hours of music is tough, so I would recommend one of two tracks to start with. First, you could try the shocking short 6 minute long track #4 Curare, which I think is the best usage of silence in "Daughter of Darkness". Or you could try the album length (45 minutes) track #15 Devil's Fork, which is representative of the album as a whole.</p>

                <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_l8_sBZqZaHdbVXRmE6vFCzTfti4fmhiBE">https://music.youtube.com/playlist?list=OLAK5uy_l8_sBZqZaHdbVXRmE6vFCzTfti4fmhiBE</a></p>

                <p>Spotify: <a href="https://open.spotify.com/album/6FNu7RUEKOGhdgZenZKg4s">https://open.spotify.com/album/6FNu7RUEKOGhdgZenZKg4s</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}