{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/the_ruby_cord.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: November 18th, 2022<br>My Rating: {{ rating }}/5</p>

                <p>I've decided that I'm going to make my music reviews a little more approachable. Now, instead of recommending albums such as the 7.5 hour long "Daughter of Darkness" by Natural Snow Buildings, I'll recommend some songs instead as they require less commitment. With that in mind, one of my favorite songs ever written is Track #1 of "The Ruby Cord" by Richard Dawson, titled "The Hermit". </p>

                <p>"The Hermit" is emblematic of a kind of ultra-sparse Folk music, with many sections having a grand total of one instrument (including voice) playing over the occasional snare drum hit. This kind of minimalistic music forces you to listen to every individual sound, such as when the conclusion to a melody ends with a single chord played out over a few seconds, note by note. As a result, "The Hermit" is really the "lie in bed and stare at the ceiling" kind of music. </p>

                <p>Now if that were it, then "The Hermit" would just be standard sparse Folk music, but it has two incredibly unique things going for it.</p>

                <p>Firstly, Richard Dawson, if I am to be very generous, has a very polarizing singing voice and style. If I were to be a little less generous, I would probably say that Richard Dawson kind of sucks at singing. As one online reviewer put it, "physically nauseating falsetto vocals". But it's not the tools you are given in life, it's how you use them right? And Richard Dawson's weirdly wavering and off-tune vocal delivery somehow matches the sparse musical style perfectly. Unbelievably, it even sounds appropriate (not good!) when his voice is the only sound you year. And then there's a few times when he gains the superpower of harmonization and all the atonal weirdness is resolved into what feels like world peace.</p>

                <p>In all seriousness, I quite like his vocal style, but I am for sure acclimated as I've probably listened to this track over 100 times. It may take some getting used to for new listeners though...</p>

                <p>Secondly, Richard Dawson is a storyteller and poet of unparalleled ability. The minimalistic nature of the music forces you to hear each and every word, to feel the unique cadence and emphasis in every sound. "The Hermit" follows the story of a hermit (what did you expect) whose pilgrimage leads them to experience the totality of being in the past, present, and future. As a small sample of his lyricism, the journey starts in:</p>

                <p>Hazy marshes, crow-pocked copses<br>Patchwork meadows labyrinthed with hedgerows<br>Gently declining to a fluff of woodsmoke<br>Clung to the fringe of the North Sea<br>The village of Bebba<br>Where once I lived, a<br>Fisher, before I was forced to flee</p>

                <p>Not only has he fully ingested a thesaurus, but I'm pretty sure he makes up words just for the sound of them. Like if you can figure out what "interstix" means from the line "Through the arid interstix of my toes", please let me know. I feel like it's supposed to be "interstices" which makes sense in relation to "toes", but Richard Dawson and every lyric website spells it with an "x".</p>

                <p>The song is of course available on all platforms and I've linked YouTube Music and Spotify below. Feel free to skip the first 11 minutes, as it can feel like pointless noodling. Oh did I forget to mention that the song is 41 minutes long? Well at least it's still more approachable than the whole album...</p>

                <p>YT Music: <a href="https://music.youtube.com/watch?v=iXfDNVcUA90">https://music.youtube.com/watch?v=iXfDNVcUA90</a></p>

                <p>Spotify: <a href="https://open.spotify.com/track/3sxKEkfOGplFVFazTVtoKj">https://open.spotify.com/track/3sxKEkfOGplFVFazTVtoKj</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}