{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/music_for_18_musicians.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: April, 1978<br>My Rating: {{ rating }}/5</p>

                <p>You could definitely characterize Steve Reich's "Music for 18 Musicians" as extremely pretentious, or as really weird elevator music. The composition came either from a burst of mad genius or an unhealthy amount of psychoactive drugs (or maybe one caused the other). But as polarizing as it is, there's a truly unique sound here for those with the patience to listen to the whole hour. Allow me to quote from Steve Reich's actual website:</p>

                <p>"The entire opening and closing sections plus part of all sections in between contain pulses by the voice and winds. They take a full breath and sing or play pulses of particular notes for as long as their breath will comfortably sustain them."</p>

                <p>As far as I can tell, this pulsing is individual, so each musician decides when to start playing their pulse and when to end. So while the piano and marimba lay down a steady drumming beat, other instruments phase in and out in different combinations. They rhythm also evolves, gradually changing to something completely different. The change is slow enough that if you listen to any few sequential minutes, you would hard pressed to hear differences. But skip between different parts and nothing is the same. </p>

                <p>This puts "Music for 18 Musicians" on the high pedestal of the most hypnotic music I am aware of. The steady rhythm and pulsing sounds lull you into a flow state while changing just enough that it's not repetitive. Literally the perfect thing to fall asleep or work to.</p>

                <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_neSJpc6NyatKQ0ejPgVstLUQVIddFlF7A">https://music.youtube.com/playlist?list=OLAK5uy_neSJpc6NyatKQ0ejPgVstLUQVIddFlF7A</a></p>

                <p>Spotify: <a href="https://open.spotify.com/album/2zUpKJnQgl3YMUJ4dqYo61">https://open.spotify.com/album/2zUpKJnQgl3YMUJ4dqYo61</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}