{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/microphones_in_2020.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: August 7, 2020<br>My Rating: {{ rating }}/5</p>

                <p>I think a lot of my music reviews tend toward the maximalist style, where bands mix weird genres, pound away at the drums, and scream a lot. But it's not just because I love maximalist music, but more that in order to make unique music, it's always easier to add more. To stand out, you could always add faster drums, you could always add a saxophone or other weird instrument where there was none before. On the flip side, it's extremely difficult to make unique music by taking away elements, because when you have less, there's naturally less you can do, and so your music is more likely to follow the same worn grooves in your genre. I suspect this is why I rarely listen to folk or other singer/songwriter style genres, as with such minimal instrumentation, there's practically nothing to distinguish one artist from another.</p>

                <p>One very prominent exception to my dislike of folk and singer/songwriter music is The Microphones, aka Mount Eerie, aka Phil Elverum. In his final album as The Microphones, "Microphones in 2020", Elverum bares his life, his music, his losses, his ageing. Just like how the instrumentation is minimal, so are the lyrics. In his self reflection, there's no highlights, there's no lowlights, it's the fundamental nature of existence that's universal to all humans.</p>

                <p>It's like in poetry, you have the epic which spans thousands of lines next to the haiku with countable words. The less you are given, the more you spend dwelling. The minimal nature of "Microphones in 2020", with it's weird silences and drones and inane anecdotes gives you barely anything to chew on. But if it speaks to you, you'll chew and chew and eventually taste the subtle existentialism and alienation and warmth despite it all. Or perhaps when you digest, you'll get different tones than what I got.</p>

                <p>The 45 minute long song/album is not available on Spotify, so you have to listen on YouTube. I would additionally recommend you watch the accompanying short film, featuring photos from Phil's life. The amateur and low-quality nature of the photos adds quite a bit of additional stuff to chew on.</p>

                <p>YouTube: <a href="https://www.youtube.com/watch?v=A7BkabF31ak">https://www.youtube.com/watch?v=A7BkabF31ak</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}