{% extends "base.html" %}

{% load static %}

{% block title %}{{ artist_title }}{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}{{ artist_title }}{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="col-sm-12">

            <div class="image-wrapper float-left w-50 p-3">
                <img src="{% static 'mysite/hornet_disaster.jpg' %}" class="w-100">
            </div>

            <div class="single-post-content-wrapper p-3">

                <p>Genre(s): {{ genre }}<br>Release Date: March 19, 2025<br>My Rating: {{ rating }}/5</p>

                <p>ow that the year is almost over, it's time to recap some of my favorite music from 2025 that I haven't talked about yet. First on the list is "Hornet Disaster" by Weatherday, who incidentally also headlined a fantastic live performance back in April.</p>

                <p>"Hornet Disaster" is an abrasive and excessive Emo/Noise Pop album. It's musically extremely aggressive, with raw screaming, violent drums, and clashing guitars, all on top of a screeching wall of sound. Even in the quieter sections, distortion is turned up to 11 and vocals are shaky, sometimes reaching the point of non-stop cracking. It feels like a album designed to crush emotionally, where the soft sections exist only to take a breath in order to scream even louder.</p>

                <p>But all that to say "Hornet Disaster" is vibrant and an extremely fun listen. Sometimes it's great just to let loose for a bit</p>

                <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_nfbGFVLTCtnkavulG-4paXOwTYKzMePgw">https://music.youtube.com/playlist?list=OLAK5uy_nfbGFVLTCtnkavulG-4paXOwTYKzMePgw</a></p>

                <p>Spotify: <a href="https://open.spotify.com/album/5iVnuOpMVfaLfhq9vpWcj4">https://open.spotify.com/album/5iVnuOpMVfaLfhq9vpWcj4</a></p>

                <p>Review Date: {{ date_created }}<br>Last Updated: {{ date_modified }}</p>

            </div>

            <ul class="pagination justify-content-center">
                <li class="page-item {% if not previous_review %} disabled {% endif %}"><a class="page-link" href="{{ previous_review }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/projects/casual_music_reviews">Home</a></li>
                <li class="page-item {% if not next_review %} disabled {% endif %}"><a class="page-link" href="{{ next_review }}">Next</a></li>
            </ul>

        </div>
    </div>

</div>

{% endblock %}