{% extends "base.html" %}

{% load static %}

{% block title %}Best Music of 2023{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2024-01-01">
<meta name="modification-date" content="2024-01-01">
{% endblock %}

{% block pagetitle %}The Best Music of 2023 {% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width">
        <p>This page lists the best music releases of 2023. Since I am bad at writing music reviews, they are instead copied from <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/">Rate Your Music</a>. The topmost release is the best, while the last release is the worst of the special entries (not that its bad, just the worst of the listed).</p>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed"><a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/%ED%8C%8C%EB%9E%80%EB%85%B8%EC%9D%84/after-the-night/">파란노을 [Parannoul] - After the Night (Live)</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/after_the_night.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Shoegaze<br>Release Date: March 23rd, 2023<br>My Rating: 5/5</p>

                    <p>Review by <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/~Greenmountain">Greenmountain</a></p>

                    <p>It’s been a year full of surprises in music, but among the most interesting have been the strides taken by South Korean shoegaze wunderkind Parannoul. The Seoul-based musician’s new, Bandcamp-only live release, After the Night, stands out as my favourite release of the year, but its majesty is made all the more unique by how far afield it seems to stand from what we might have expected to come next from its author. I can’t help but find it fascinating that an anonymous musician like Parannoul - someone who tries to hide from the spotlight whenever possible, and who we know next to nothing about - should excel so readily in a live setting. What’s more, considering how heavily studio-based his recording process is (using digital DAW effects to alter guitars, or subtly embedding electronics and MIDI into the mix to create something hyperreal), it’s all the more impressive that he shines so brightly when confined to the limitations of live performance.</p>

                    <p>After the Night is easily my favourite Parannoul album, besting any of his studio work to date. Recorded just two weeks before the release of his latest full-length, After the Magic, the live set captured here both enriches our understanding of the artist’s most recent record as well as points beyond it to greater things to come. While many of the best songs on the record come from Parannoul’s breakout record, 2021’s To See the Next Part of the Dream, I also find new things leaping out at me from “북극성 (Polaris)” and “Imagination”, the two tracks included from After the Magic, which I hadn’t noticed during my initial deep dive with that record a couple months ago. But beyond just the individual strength of the tracklist, there’s something else at play on After the Night that pushes it up and over the top.</p>

                    <p>A live show forces the artist to relinquish some degree of control over the sound of the music - sometimes in a big way, especially if you’re a guy like Parannoul, whose creative process appears to revolve around methodical, deep work with only the smallest circle of collaborators. Live, so much of the sound has to be turned over to and entrusted to the rest of the band, and this release from the total responsibility of working alone in your bedroom with an audio interface may play a big part in what makes After the Night so special. There is an openness and a freedom in these performances that I found missing from After the Magic. While his trademark attention to detail isn’t a bad thing at all, this new emphasis on embracing the inherent indeterminacy of playing live lends a new dimension to the artist’s songs. </p>

                    <p>If anything on After the Night showcases what Parannoul is able to do with the freedoms of live performance, it’s the jaw-dropping, 46-minute rendition of “Into the Endless Night” that comprises the album’s second half. The walls of distorted, effects-laden guitars become a backdrop for incredible deviations from the form, careening from almost swinging, Madchester-style grooves, to wailing trumpet solos, to five full minutes of abrasive noise, before finally culminating in an Explosions in the Sky-esque recapitulation. It suggests a bright future for Parannoul (and for his stylistic niche in general) that can’t be ignored just because it features on a live release rather than a studio one. The explosive success of To See the Next Part of the Dream saddled the artist with the almost immeasurably heavy burden of pushing shoegaze forward, but on “Into the Endless Night”, he sounds equal to the task. </p>

                    <p>The central paradox of performing live is that while some doors close, others open. Certain things have to be let go of, while new possibilities brought on by the immediacy of the performance enable risks that can’t be taken on a studio album. After the Night proves that Parannoul understands the nature of this paradox, and has more to give us that just the in-studio work he’s done so far. In my opinion, this record cements him as one of the most exciting artists at the vanguard of rock music in the 2020s, which is quite a feat for a live release. If Parannoul continues to move in this direction, nothing can stop him.</p>
                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed"><a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/ep/maruja/knocknarea/">Maruja - Knocknarea</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/knocknarea.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Rock, Post-Punk, Art Rock<br>Release Date: March 17th, 2023<br>My Rating: 4.5/5</p>

                    <p>Review by <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/~chazles">chazles</a></p>

                    <p><b>A stunning debut from a very rare type of band</b></p>

                    <p>The more I listen to and learn about music and the more context I have for each new sound I come across, the more I realize that the combination of passion, artistic cohesion and codependence, and most of all, raw talent that the members of Maruja have is extremely rare. When you find it, it's apparent almost immediately - 30 seconds into Thunder, and that harsh, growling bass told me that this was going to be something new. 30 more seconds of frantic drumming, jittery electronics, and blaring POWER sax told me that this was the real deal. Harry Wilkinson screaming out a storm was the surprising cherry on top. </p>

                    <p>Lyrically and vocally, they're a punker, more politically-overt Black Midi. Sonically, they just might be in line to fill the void Isaac Wood left when he departed from Black Country, New Road (I still adore new bcnr!). But, I doubt they will - this is the type of talent I wholeheartedly expect to do something new. I compare them to bm & bcnr not because they're popular on here (or because, as noted, I adore them) but because they are the only current bands that come to mind when I think about the talent, passion, and cohesion on display in this project. </p>

                    <p>But watch a live recording of Maruja (even their first ever live recording, Live From Low Four Studio, like I did) and the difference between them and the other freshest, most exciting bands to suddenly pop up at The Windmill is again apparent immediately. These other bands (the aforementioned, Squid, Shame, etc.) have varying degrees of adolescence to them, a sense of "we're not totally sure where this is going but we don't need to because it's fun and we're damn good at it" (even Black Midi, in all its Greepian vaudevillity, feels fluctuant). Maruja, on the other hand, feels fully matured. Like they've been crafting this music for years, and have finally perfected the formula. They're still having fun, but in their own cold, jacked up, masochistic way. </p>

                    <p>Watching them is an intense experience - they are confident, angry, and overwhelmingly full of energy. Watching Joe Carroll bob around with his sax, I resist the urge to check for the fourth time that I haven't set the video to 1.25x speed. The look on Jacob Hayes's face as he drums is unsettling, like the bad guy's prize fighter who can't wait to be deployed so he can tear someone apart. As Harry Wilkinson starts rapping during "Zeitgeist" (the first track on the linked live set, and their latest single) I get the sense that his delivery is something I might usually find painful - if he wasn't so sure that he was delivering you something important and perfect. Essentially, while this is the band's first project, they are not up and coming - they have arrived at the top of their game, and they plan on sticking around. </p>

                    <p>The EP itself isn't airtight, although it's never uninteresting. They will certainly be releasing bigger, more focused, and even better projects than this - but the sooner you give them your attention, the sooner you'll have the privilege of getting in on these guys. What's going on here is intense, it's uncomfortable, and it's captivating. But most importantly, it's excellent, and it's rare.</p>
                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed"><a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/jeff-rosenstock/hellmode/">Jeff Rosenstock - HELLMODE</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/hellmode.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Pop-Punk<br>Release Date: August 31st, 2023<br>My Rating: 4.5/5</p>

                    <p>Review by <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/~james_fullelove">james_fullelove</a></p>

                    <p><b>Quite possibly AOTY!</b></p>

                    <p>This is Jeff's most expensive/mainstream release to date and it's clear to see why. Everything just sounds next level. From the blaring guitar lines to the chanting group vocals to the infectious hooks and instrumentation. You'd think that after so many years of making music Jeff would've slowed down by now but HELLMODE proves to be his most ferocious and unrelenting record to date! There's only one chill track on here, the aptly titled "Healmode", and the rest is pure chaos (that's really fun and awesome chaos, mind you :) ). </p>

                    <p>I've been listening to this on repeat ever since I got the CD and I love it more every time. The mixing is definitely an improvement over his previous records; the separation between the instruments is a lot more noticeable this time, especially on a good set of headphones or speakers, and I pick up on new details with every listen. Combine that with Jeff's introspective and catchy songwriting and you've got one 'hell' of an album. </p>

                    <p>This is also Jeff's most complete album. All of the songs feel well-structured and rewarding. Even "Head", which is under 2 minutes, manages to leave a big impression with its punchy guitar chords and rhythms and not forgetting Jeff's signature shouty vocals. Additionally, the shouty group vocals sound better than ever. The build up at the end of "Future Is Dumb" is extremely cathartic and that goes for the end of "Doubt" too which includes some of my favourite Rosenstock guitar feedback squeaks to date. Another standout is "3 Summers" which showcases all of Jeff's strengths in one 7 minute song - probably the best song on here, but it's very close. </p>

                    <p>I'll end this by saying this album is 40 minutes but feels half the length. Songs that I wasn't bothered by at first have grown on me a lot and songs that I loved from the start have gotten better with every listen. </p>
                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed"><a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/moshimoshi/green/">moshimoshi - Green LP</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/green_lp.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Math Rock, Screamo, Midwest Emo<br>Release Date: April 28th, 2023<br>My Rating: 4/5</p>

                    <p>Review by <a rel="noopener noreferrer" target="_blank" href="https://www.sputnikmusic.com/user/BitterJalapenoJr">BitterJalapenoJr</a> (from sputnikmusic)</p>

                    <p><b>Not your regular sushi bar order.</b></p>

                    <p>With wave number five of the sprawling genre coined “emo” in full-swing, fans are never short of new material to immerse themselves in. One little-known rising star deserving more attention is Helsinki-based quartet moshimoshi. Although the band name may conjure up images of your favourite side order from your local pop-up, hipster-packed sushi bar, what the Finns serve up is a delicious sonic mixture with its roots deep in the late 80s indie and Midwest emo scenes, complemented by light dustings of post-hardcore and math rock. Formed in 2020 and with the short and sweet EP moshimoshi I under their belts, the band fully fledged the nest in 2023 with the release of GREEN LP – a record capturing a young band sounding as fresh as daisies, brimming with confidence and showing huge potential for the future.</p>

                    <p> Stylistically, the bones of GREEN LP are mainly composed of fast, heavily distorted guitar chords, interwoven with jangly guitar licks. Played by Eetu Tuominen with a high degree of precision, these mathy yet effortless sounding lead parts snake their way through each track, providing a healthy dose of melody. The two styles of guitar playing bounce off each other incredibly well, managing to sound simultaneously uplifting and melancholic. “Is It Still Called Sailing if the Ship Has No Sails” serves as the best example, starting with an American Football inspired riff then bursting into a world of semi-chaotic emo bliss before ending with a smooth, silky outro. The Midwest emo base is nuanced by the inclusion of harsh vocals with the urgency of Aatu Kovanen’s earnest delivery showing an obvious influence from screamo legends Gospel. </p>

                    <p> Most impressive is how the album is structured. The soft, mellow leads alongside gentle post rock-esque drumming break up the aggressive parts effectively, ensuring the album flows with ease and provides a pacing which makes the album easily digestible. The cherry topping the already tasty cake comes with the end piece “Well, This Is Where We Part Ways”. Starting with gorgeous post-rock influenced guitar leads reminiscent of the opening track “Sleeping Under a Green Leaf”, this initially has the effect of bringing the record full circle before a surprise eruption of crunching chords, blistering leads, and crashing drums bring the album to an epic close. With stunning musicianship, a bold delivery and an uncanny ability to evoke multiple emotions at once, GREEN LP is a truly excellent debut that compiles various genres of decades past into a product that emanates nothing but the utmost freshness and leaves you hungry for more.</p>
                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed"><a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/abriction/interstates/">abriction - Interstates</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/interstates.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Shoegaze, Post-Rock<br>Release Date: July 14th, 2023<br>My Rating: 4/5</p>

                    <p>Review by <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/~Heq">Heq</a></p>

                    <p><b>An underrated shoegaze album</b></p>

                    <p>To be honest i'm not too big on shoegaze. It's not that i don't like it, Loveless is one of my all-time favourite albums, but it's just not a genre i'm particularly interested in. I know it's weird since i love dreamy atmospheres and noisy guitars, but it never drew me in besides MBV and some Deafheaven. I never heard of Abriction before and i only clicked on this album because of the cover (which is how i discover most of my favourite albums tbh) and i was not expecting to like it this much. </p>

                    <p>Even without hearing much post-shoegaze or stuff i can tell this isn't the most original album in the world. But what this album does is to just blend post-rock, shoegaze, indie rock and midwest emo into this incredible 82 minutes experience. The melodies here are amazing and the pacing is incredible. You go from an ambient passage to an emo passage with screamed vocals to full on post-rock and it all feels seamless. The instrumentals are all very pretty and the vocals, despite some rough edges, are layered well so they feel like just another instrument and don't distract from the music. </p>

                    <p>This album feels dreamy and ethereal even at its rawest and the heavy amounts of reverb only help the experience. Sometimes it feels like floating in the night sky as you watched the stars and they appear to get closer, is that feeling i get from this project. Sometimes the drums might not be the best produced i admit and again it's not re-inventing the wheel or anything close, but this is still an excellent album that takes those ideas and turns them into a grandiose experience. Probably my favourite of 2023 so far.</p>
                </div>

            </div>
        </article>
    </div>

</div>

{% endblock %}