{% extends "base.html" %}

{% load static %}

{% block title %}Best Music of 2026{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2026-06-20">
<meta name="modification-date" content="2026-06-20">
{% endblock %}

{% block pagetitle %}The Best Music of 2026{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width">
        <p>This page lists the best music releases of 2026. Since I am bad at writing music reviews, they are instead copied from <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/">Rate Your Music</a>. The topmost release is the best, while the last release is the worst of the special entries (not that its bad, just the worst of the listed).</p>
    </div>
    
    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed"><a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/genesis-owusu/redstar-wu-and-the-worldwide-scourge/">Genesis Owusu - Redstar Wu & the Worldwide Scourge</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/redstar_wu_and_the_worldwide_scourge.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Punk Revival, Political Hip Hop, Neo-Soul<br>Release Date: May 15, 2026<br>My Rating: 4.5/5</p>

                    <p>Review by <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/~BuckdeLuck">BuckdeLuck</a></p>

                    <p><b>Creative concept, innovative genre fusions, and tight, poetic, and thematic songwriting? Yep, that's my Genesis Owusu.</b></p>

                    <p>Genesis Owusu - a Ghanian-Australian artist who began making the rounds in the online 2020's music scene with Smiling With No Teeth, a brilliant and bold debut record with overflowing, inspiring genre fusions and a hyperunique concept of racist/depressing black dogs antagonizing Genesis Owusu. </p>

                    <p>In 2023, he dropped Struggler, a bit of a sophmore slump. The concept of a struggling roach vs god retained uniqueness but lacked depth, while the genre fusions (now featuring post punk) felt very separated and like completely different detours rather than elaborate and blended as they were on SWNT. </p>

                    <p>Genesis Owusu took his time with this record, touring, locking himself in chapels, returning to Ghana for the first time in 11 years. You know, the usual. </p>

                    <p>However, the trip to Ghana has laid the foundations for this record. Being in his homeland again, and seeing the conditions (the good and bad), alongside the current state of the world, laid the foundations his third release, REDSTAR WU & THE WORLDWIDE SCOURAGE. </p>

                    <p>First, we gotta start with concept. There is this disease infecting the world called The Worldwide Scourge, a concept meant to represent all the systemic evil of the world (patriarchy, capitalism, facism, white supremacy, neoliberalism) and how it causes individuals (especially the elite in power) to perform actions with non-empathy, exploitation, consumerism, and desire for money. However, Redstar Wu is here to fight against this disease, and in doing so, hopefully inspire the people around and YOU to do the same. </p>

                    <p>Previous records placed Genesis in perspective of the oppressed and helpless, while now he may still face oppression but has the ability and drive to fight it. The Worldwide Scourge is a masterful concept in its own right, allowing Genesis to attack and deconstruct many aspects of life and the people who are pushing and embracing our increasingly alt-right society and also providing a more hopeful and inspiring overall listen. </p>

                    <p>But we need to talk music about an album right? Thankfully, Genesis brought the beautiful genre fusions back with a passion. Rap, pop, and neo-soul are still here, as expected, but with an expanded punk/post-punk repertoire that Struggler failed to employ effectively. Stampede is the peak example of this - Genesis rapping with a poppy hook, punk ethos, and synths that keep the punk going. The political ethos coincides well with punkier textures (Most Normal American Voter: is the perfect example of this, sounds like a synthier Dead Kennedys record). </p>

                    <p>The synths and guitars are plentiful and bursting with attitude, while the drums are pronounced and passionate Additionally, this is a Genesis Owusu album; subsequently, the hooks are government mandated to be earworms. He can bounce effortlessly between singing, and rapping, while doing the same with his genres, always presenting his musical and lyrical ideas with remarkable conviction. </p>

                    <p>REDSTAR WU & THE WORLDWIDE SCOURGE is everything I wanted from Genesis - singular and impactful concept and genre fusions, now with an aggressive, political edge that the modern world necessitates more than ever. This is a truly inspirational record, and an easy frontrunner for AOTY.</p>

                </div>

            </div>
            
        </article>
    </div>

</div>

{% endblock %}