{% extends "base.html" %}

{% load static %}

{% block title %}Chips Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2023-27-05">
<meta name="modification-date" content="2023-27-05">
{% endblock %}

{% block pagetitle %}Chips Tier List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Chips</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S (Ambrosia)</th>
            <td></td>
        </tr>
        <tr>
            <th>A (Great Taste)</th>
            <td>Lay's Barbecue, Lay's Salt & Vinegar</td>
        </tr>
        <tr>
            <th>B (Good Taste)</th>
            <td>Lay's Sweet Southern Heat BBQ</td>
        </tr>
        <tr>
            <th>C (OK Taste)</th>
            <td>Lay's Sour Cream and Onion</td>
        </tr>
        <tr>
            <th>D (Would not eat)</th>
            <td>Lay's Honey Barbeque</td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}