{% extends "base.html" %}

{% load static %}

{% block title %}Chips Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2023-03-27">
<meta name="modification-date" content="2023-08-22">
{% endblock %}

{% block pagetitle %}Chips Tier List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Chips</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S (Ambrosia)</th>
            <td></td>
        </tr>
        <tr>
            <th>A (Great Taste)</th>
            <td>Lay's Barbecue, Lay's Salt & Vinegar, Ruffles Cheddar and Sour Cream, Doritos Nacho Cheese</td>
        </tr>
        <tr>
            <th>B (Good Taste)</th>
            <td>Lay's Sweet Southern Heat BBQ, Lay's Cheddar and Sour Cream, Ruffles Sour Cream and Onion, Doritos Cool Ranch, Ruffles Flamin' Hot Cheddar & Sour Cream, Ruffles Flamin' Hot, Ruffles Flamin' Hot BBQ</td>
        </tr>
        <tr>
            <th>C (OK Taste)</th>
            <td>Lay's Sour Cream and Onion, Dirty Potato Chips Mesquite BBQ, Lay's Limón, Lay's Chile Limón, Ruffles Ridge Twist Smoky BBQ, Ruffles Jalapeño Ranch, Doritos Sweet & Tangy BBQ</td>
        </tr>
        <tr>
            <th>D (Would not eat)</th>
            <td>Lay's Honey Barbecue, Kettle Brand Sea Salt, Lay's BLT, Ruffles Ridge Twist Double Cheddar, Ruffles Lime & Jalapeño</td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}
