{% extends "base.html" %}

{% load static %}

{% block title %}Fruit Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2022-07-05">
<meta name="modification-date" content="2023-08-01">
{% endblock %}

{% block pagetitle %}Fruit Tier List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="row">
        <div class="col-sm-4">
            <figure class="figure" style="max-width: 100%;">
                <img src="{% static 'mysite/envy_apple.png' %}" class="img-fluid img-fluid mx-auto" style="max-width: 100%;">
                <figcaption class="figure-caption text-center">One of my favorite fruits is the Envy Apple. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://applerankings.com">Apple Rankings</a>.</figcaption>
            </figure>
        </div>
        <div class="col-sm-8">
            <p>As part of a plan to learn more about myself, I plan to eat as many different types of fruit as possible and rank each and every one. This project was more or less started in July of 2022, when I started my first full time position. Every week since then, to snack on, I have purchased one kind of fruit and one kind of (raw) vegetable to consume. Although I have had many weekly repeats of consuming my favorite fruits, I have still consumed and rated a wide variety of different fruits. In case you are wondering, there is no (raw) vegetable tier list because there are only a few viable options (cucumber, tomato, carrots, celery) which would not make for an interesting tier list.</p>

            <p>A few other things to note:</p>

            <ol>
                <li>The sample size is decent. For apple sized fruits, at least 4-5 of each kind were eaten. For smaller clementine sized fruits, at least 8-10 of each kind were eaten. For very small berry/grape sized fruits, 4-5 small bowls of each kind were eaten.</li>
                <li>All fruits in the below list are apples unless otherwise noted. For some reason, apples just seem to have the largest variety so they are by far the most represented in the list.</li>
                <li>Within a tier, the order in which fruits appear does not matter.</li>
            </ol>
        </div>
    </div>

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Fruits</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S (Ambrosia)</th>
            <td>Envy, Strawberries</td>
        </tr>
        <tr>
            <th>A (Great Taste)</th>
            <td>Golden Delicious, Modi, Autumn Glory, Raspberries, Clementines, Navel Orange, Black Cherries</td>
        </tr>
        <tr>
            <th>B (Good Taste)</th>
            <td>Sweet Tango, Red Delicious, Sugar Bee, HoneyCrisp, Cara Cara Orange, Heirloom Navel Orange, Blueberries</td>
        </tr>
        <tr>
            <th>C (OK Taste)</th>
            <td>Green Dragon, Jazz, Opal, Anjou Pears, Thompson Seedless (Green) Grapes, Black Plums</td>
        </tr>
        <tr>
            <th>D (Would not eat)</th>
            <td>None</td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}
