{% extends "base.html" %}

{% load static %}

{% block title %}Gum Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2023-05-16">
<meta name="modification-date" content="2023-09-29">
{% endblock %}

{% block pagetitle %}Gum Tier List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Gum Brand/Flavor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S (Ambrosia)</th>
            <td></td>
        </tr>
        <tr>
            <th>A (Great Taste)</th>
            <td>Trident Spearmint, Trident Original, Trident Perfect Peppermint, Eclipse Winterfrost</td>
        </tr>
        <tr>
            <th>B (Good Taste)</th>
            <td>Trident Minty Sweet Twist, Trident Mint Bliss, Orbit Peppermint, Orbit Sweet Mint, Mentos Pure Fresh Fresh Mint</td>
        </tr>
        <tr>
            <th>C (OK Taste)</th>
            <td>Trident Bubblegum, Trident Wintergreen, Trident Cinnamon, Mentos Pure Fresh Spearmint</td>
        </tr>
        <tr>
            <th>D (Would not eat)</th>
            <td>Trident Watermelon Twist, Trident Tropical Twist</td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}
