{% extends "base.html" %}

{% load static %}

{% block title %}Hot Sauce and Salsa Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2024-05-02">
<meta name="modification-date" content="2025-01-10">
{% endblock %}

{% block pagetitle %}Hot Sauce and Salsa Tier List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Hot Sauce/Salsa</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S (Ambrosia)</th>
            <td>Dirty Dick's Original</td>
        </tr>
        <tr>
            <th>A (Amazing Taste)</th>
            <td>Amor Salsita Salsa Fresca Hot</td>
        </tr>
        <tr>
            <th>B (Great Taste)</th>
            <td>Yellow Bird Jalapeño, Heartbeat Hot Sauce Pineapple Habanero, Salsa Recipe 1</td>
        </tr>
        <tr>
            <th>C (Good Taste)</th>
            <td>Dirty Dick's Peachy Green</td>
        </tr>
        <tr>
            <th>D (OK Taste)</th>
            <td>Louisiana's Pure Crystal, Down to Ferment Cherry Poppins, Yellow Bird Habanero</td>
        </tr>
        <tr>
            <th>F (Would not eat)</th>
            <td>Pace Picante Medium, La Salsa Chilena Hot</td>
        </tr>
    </tbody>
    </table>

    <h4>Salsa Recipe 1</h4>
    <p>
        Combine all ingredients and blend
        <ul>
            <li>Six jalapeno peppers</li>
            <li>Two serrano peppers</li>
            <li>One 14.5oz can fire roasted tomato</li>
            <li>1/2 red onion</li>
            <li>One head garlic</li>
            <li>Three limes, juiced</li>
            <li>1/2 cup white wine</li>
            <li>Two tablespoons salt</li>
        </ul>
    </p>

</div>

{% endblock %}
