{% extends "base.html" %}

{% load static %}

{% block title %}Hot Sauce Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2024-05-02">
<meta name="modification-date" content="2024-10-02">
{% endblock %}

{% block pagetitle %}Hot Sauce Tier List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Hot Sauce</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S (Ambrosia)</th>
            <td>Dirty Dick's Original</td>
        </tr>
        <tr>
            <th>A (Amazing Taste)</th>
            <td></td>
        </tr>
        <tr>
            <th>B (Great Taste)</th>
            <td>Yellow Bird Jalapeño</td>
        </tr>
        <tr>
            <th>C (Good Taste)</th>
            <td>Dirty Dick's Peachy Green</td>
        </tr>
        <tr>
            <th>D (OK Taste)</th>
            <td>Louisiana's Pure Crystal, Down to Ferment Cherry Poppins, Yellow Bird Habanero</td>
        </tr>
        <tr>
            <th>F (Would not eat)</th>
            <td></td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}
