{% extends "base.html" %}

{% load static %}

{% block title %}Instant Noodle Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2023-11-11">
<meta name="modification-date" content="2025-08-12">
{% endblock %}

{% block pagetitle %}Instant Noodle List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Instant Noodle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S (Ambrosia)</th>
            <td></td>
        </tr>
        <tr>
            <th>A (Amazing Taste)</th>
            <td>Nongshim Shin, Nongshim Shin Black, Nissin Kyushu Tonkotsu, Sapporo Ichiban Tonkotsu</td>
        </tr>
        <tr>
            <th>B (Great Taste)</th>
            <td>Maruchan Chicken, Sapporo Ichiban Chicken Flavor, Nissin Miso Tonkotsu</td>
        </tr>
        <tr>
            <th>C (Good Taste)</th>
            <td>Sapporo Ichiban Original, Samyang Ramen</td>
        </tr>
        <tr>
            <th>D (OK Taste)</th>
            <td>Nongshim Shin Gold</td>
        </tr>
        <tr>
            <th>F (Would not eat)</th>
            <td></td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}
