{% extends "base.html" %}

{% load static %}

{% block title %}Instant Pot Bean Cook Times{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2023-12-18">
<meta name="modification-date" content="2024-01-01">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block pagetitle %}Instant Pot Bean Cook Times{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <table id="sortable-table" class="table table-striped table-bordered w-100">
        <thead>
            <tr>
                <th>Bean</th>
                <th>Cook Settings</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kidney Beans (Light Red)</td>
                <td>High pressure, no soak, 45 min</td>
            </tr>
            <tr>
                <td>Black Beans</td>
                <td>High pressure, no soak, 35 min</td>
            </tr>
            <tr>
                <td>Small Red Beans</td>
                <td>High pressure, no soak, 45 min</td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $('#sortable-table').DataTable( {
        "searching": true,
        "order": [[1, "desc"]],
        "aLengthMenu": [
            [25, 50, 100, 200, -1],
            [25, 50, 100, 200, "All"]],
        "iDisplayLength": -1
    });
} );
</script>
{% endblock %}