{% extends "base.html" %}

{% load static %}

{% block title %}Live Music Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2022-05-07">
<meta name="modification-date" content="2024-05-05">
{% endblock %}

{% block pagetitle %}Live Music Tier List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="row">
        <div class="col-sm-4">
            <figure class="figure" style="max-width: 100%;">
                <img src="{% static 'mysite/magic_sword.jpg' %}" class="img-fluid img-fluid mx-auto" style="max-width: 100%;">
                <figcaption class="figure-caption text-center">One of my favorite live artists is Magic Sword. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://powerofprog.com">Power of Prog</a>.</figcaption>
            </figure>
        </div>
        <div class="col-sm-8">
            <p>Since May of 2022, I have tried to go to at least one concert a month, up to as many as one concert per week. I have always loved listening to music and I have no idea why I ended up not going to concerts until so late in my life.</p>

            <p>Each concert (the full list of which and venues can be found in the <a href="/projects/timeline">Timeline</a>) typically has 2-3 artists, of which I rate those I remember.</p>

            <p>A few other things to note:</p>

            <ol>
                <li>Most of the artists I have only seen live once. If this is not the case, it will be noted in parentheses the number of times I have seen them live.</li>
                <li>In some concerts, either the venue or the audience detracted enough from the experience to lower them a tier. This is noted by a small downward arrow (<span>&#8595;</span>) next to the artist.</li>
                <li>If the venue or audience significantly detracted enough from the experience, this will be noted by a double small downward arrow (<span>&#8595;</span><span>&#8595;</span>) next to the artist.</li>
                <li>If an artist has a comma in the name, their name will be quoted.</li>
            </ol>
        </div>
    </div>

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Artist</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S (Best of the best)</th>
            <td>Magic Sword (2), Black Midi (2), Kikagaku Moyo</td>
        </tr>
        <tr>
            <th>A (Amazing)</th>
            <td>Macseal, Andrew Jackson Jihad (2), Joyce Manor, Strawberry Girls, Surprise Chef, Spiritual Cramp, Deafheaven, Touché Amoré, Jeff Rosenstock, RIDE, The Ocean, Khruangbin, Amenra, Primitive Man</td>
        </tr>
        <tr>
            <th>B (Great)</th>
            <td>Prince Daddy & the Hyena, Covet, Hikes, Death Bells, Greet Death, PUP, "Black County, New Road", Standards (2), TWRP, Via Luna, Positioner, Two Headed Girl, Veto, Knifeplay, Teenage Wrist, Holy Fawn, lowheaven, Small Crush, Explosions in the Sky. True Loves, Gypsy Sally, The Hotelier, "Shy, Low", The World Is a Beautiful Place & I Am No Longer Afraid to Die, Ben Quad, Slow Crush (2)</td>
        </tr>
        <tr>
            <th>C (Good)</th>
            <td>Home is Where, Pool Kids, RADWIMPS, Body Thief, Tang, Open Mike Eagle, Mrs. Magician, MARBLE, Sparkler, Kan Kan, Heavenward, Caraara, Atmosphere, Crushed, Sands, Foxing (2), Saturdays at Your Place, Hermanos Gutiérrez, Wednesday, Draag</td>
        </tr>
        <tr>
            <th>D (Ok)</th>
            <td>El Ten Eleven, Stephen Steinbrink, The Aggrolites, Akua Naru, Home View, Slow Joy, No Fun!, The Charlatans, "Slaughter Beach, Dog", Sun June, Jhariah<span>&#8595;</span>, Wind Rose<span>&#8595;</span>, Xandria<span>&#8595;</span></td>
        </tr>
        <tr>
            <th>F (Poor)</th>
            <td>Death Cab for Cutie<span>&#8595;</span><span>&#8595;</span>, Yo La Tengo<span>&#8595;</span><span>&#8595;</span>, The Aquabats<span>&#8595;</span></td>
        </tr>
        <tr>
            <th>Don't Remember</th>
            <td>Insignificant Other, King of Heck</td>
        </tr>
        <tr>
            <th>Z (I hate DJs)</th>
            <td>Anysia Kym</td>
        </tr>
        <tr>
            <th>N/A (Had to leave early)</th>
            <td>Arm's Length, Carly Cosgrove</td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}
