{% extends "base.html" %}

{% load static %}

{% block title %}On Determinism{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2022-1-31">
<meta name="modification-date" content="2022-1-31">
{% endblock %}

{% block pagetitle %}On Determinism{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <p>Determinism is a fairly important concept in Philosophy, and one of particular interset to me for various reasons. In this thought, I will explain my view of determinism, address some counterarguments against determinism, and finally give some reasons why I find determinism so important.</p>

    <h4 class="pt-2">What is Determinism?</h4>

    <p>Determinism, at least to me, is the view that everything occurs for a reason. "Reason" is somewhat weak, so it should be more precisely put as the view that all events that occur in the world are determined by previously existing causes. I find the <a href="https://plato.stanford.edu/archives/spr2016/entries/determinism-causal/" rel="noopener noreferrer">Standford Encyclopedia of Philosophy's Article</a> by Carl Hoefer to have a good explanation, so I will do my best to summarize it.</p>

    <p>According to Hoefer, a nearly all encompasing definition of determinism is as follows:</p>

    <div class="w-50 text-center" style="margin: 0 auto;">
        <p><b>The universe</b> is governed by (or is under the sway of) determinism if and only if, given a specified way things are at a time t, the way things go <b>thereafter</b> is <b>fixed</b> as a matter of <b>natural law</b>. </p>
    </div>

    <p>In order to gain a clearer concept of Determinism, it serves to further define and clarify the bolded terms.</p>

    <h6 class="pt-2">What does "<b>the universe</b>" mean?</h6>

    <p>I think the most important part of including the whole universe is the claim that determinism applies to all things. Let's say for instance, that the definition changed to:</p>

    <div class="w-50 text-center" style="margin: 0 auto;">
        <p>An event E is causally determined if and only if there exists a set of prior events {A, B, C …} that constitute a (jointly) sufficient cause of E</p>
    </div>

    <p>[TODO]: Apparently, there are many issues with this approach, but the article does not really explain them. I'll have to do some additional research.</p>

    <p>So evidently, there are issues with distilling determinism to the event level, but why exactly is it necessary to include the scope of the whole universe? Why not just take the Earth for example, as our starting point? The simple answer is that despite there being a speed limit upon the physical speed at which things can change (the speed of light), everything effects everything, in a sort of butterfly effect way. As an example, let's assume that you decide to go stargazing, and the light from some distant star strikes your retina and subtly influences the way you think. The state of the Earth at the time t did not determine that the light of the distant star would arrive and strike your retina. Then, it is obvious that the scope of determinism must encompass all that could influence us.</p>

    <p>[TOOD]: What about the expansion of the universe? Assuming that the universe is expaning faster than the speed of light, that means that there is a definite area which can effect us. What does this imply for the theory of determinism?</p>

    <h6 class="pt-2">What does "<b>thereafter</b> is <b>fixed</b>" mean?</h6>

    <p>[TODO]</p>

    <h6 class="pt-2">What does "<b>natural law</b>" mean?</h6>

    <p>TODO</p>

    <h4 class="pt-2">Counterarguments</h4>

    <p>In my definition of determinism, I already addressed a few counteraruments. In this section, I will address some more counterarguments, in no particular order.</p>

    <p>[TODO]</p>

    <h4 class="pt-2">Personal Views</h4>

    <p>And finally, some reasons why I believe in determinism. [TODO]</p>

</div>

{% endblock %}