{% extends "base.html" %}

{% load static %}

{% block title %}On Plato's Euthyphro{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2022-06-14">
<meta name="modification-date" content="2022-06-14">
{% endblock %}

{% block pagetitle %}On Plato's <i>Euthyphro</i>{% endblock %}

{% block content %}

<div class="paragraphs text-left">
    
    <div class="container site-width">
        <div class="container mx-auto">
            <figure class="figure mx-auto" style="display: block;">
                <img src="{% static 'mysite/euthyphro_problem.jpg' %}" class="figure-img img-fluid mx-auto" style="height: auto; display: block;">
                <figcaption class="figure-caption text-center">The Euthyphro Problem/Dilema comes from the titular charachter of Plato's <i>Euthyphro</i>. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://osologos.wordpress.com">Oso Logos via WordPress</a>.</figcaption>
            </figure>
        </div>
    </div>

    <p>This page contains my summary of Plato's <i>Euthyphro</i>. It consists of a line by line summary of the dialogue, with additional research and interpretation. This edition of Plato's <i>Euthyphro</i> was translated by G.M.A. Grube, edited by John M. Cooper, and published by the Hackett Publishing Company of Indianapolis, Indiana in 1997. <i>Euthyphro</i> of course, was originally written by Plato.</p>

    <div class="text-center">
        <h6>Line by Line Summary</h6>
    </div>

    <p><span class="line-number">[0002]</span> Euthyphro and Socrates encounter each other by the king-archon's court.</p>

    <p>[From <a rel="noopener noreferrer" target="_blank" href="https://en.wikipedia.org/wiki/Euthyphro_(prophet)">Wikipedia</a>] Euthyphro may or may not be an actual historical figure, as he is only mentioned in Plato's dialogues <i>Euthyphro</i> and <i>Cratylus</i>. At the time of his appearance in Plato's <i>Euthyphro</i>, he was likely in his mid-forties and his father was probably in his seventies, making his father a contemporary of Plato. His name in ancient Greek means "straight-thinker".</p>

    <p>Socrates we should all know, but an additional point is that this discussion occurs a few weeks before Socrates' trial where he will be sentenced to death. Socrates is at the king-archon's court for a preliminary hearing for the charges brought up against him by Meletus, a member of the Pitthean deme. Very little is known of Meletus, except for the fact that he has "long hair, not much of a beard, and a rather aquiline nose" (2b).</p>

    <p>Meletus is charging Socrates with corrupting the youth. Socrates, oddly enough, states that Meletus is at least going about helping the youth in the right way. First, "it is right to care first that the young should be as good as possible, just a a good farmer is likely to take care of the young plants first, and of the others later" (2d).<span class="line-number">[0003]</span> Specifically, Meletus believes that Socrates is corrupting the youth by being impious, specifically for making new gods and not believing in the old gods.</p>

    <p>Euthyphro points out that Socrates claims to have a divine sign. This divine sign is explained by Socrates in Plato's <i>Apology</i> in the following line translated by G.M.A. Grube: "I have a divine or spiritual sign which Meletus has ridiculed in his deposition. this began when I was a child. It is a voice, and whenever it speaks it turns me away from something I am about to do, but it never encourages me to do anything. This is what has prevented me from taking part in public affairs, and I think it was quite right to prevent me" (<i>Apology</i> 31d).</p>

    <p>Euthyphro claims, somewhat similarly to Socrates, that he can predict the future, yet he is ridiculed for it. The dialogue eventually turns to the reason that Euthyphro is at the king-archon's court. <span class="line-number">[0004]</span>Euthyphro is at the court to prosecute his father for the charge of murder. Socrates seems shocked by this, and concludes that Euthyphro's father must have killed a family member, or someone of similar importance, otherwise why would Euthyphro prosecute his own father for killing a stranger?</p>

    <p>Euthyphro (correctly in my opinion) points out it doesn't matter who his father killed, only if the killing was done justly or unjustly. What actually happened was that the victim was a servant of Euthyphro's family. The servant killed a household slave in a fit of drunken anger, so Euthyphro's father captured the servant, bound him hand and foot, then threw him into a ditch while the father inquired from a local priest what to do. While waiting for a response from the priest, the servant himself died in the ditch. So not only is Euthyphro prosecuting his father, the crime is the accidental death of a known murderer. They (as in the father and other relatives) claim that it is impious for Euthyphro to prosecute his father, but Euthyphro, being a prophet and very knowledgeable about the gods, says that such an action is pious.</p>

    <p><span class="line-number">[0005]</span>This is a great situation for Socrates, as he will soon go on trial for impiety against the gods. If Socrates can learn from Euthyphro what piety is, then either both will go on trial or neither of them will. Then, we come to the question for this Socratic dialogue, namely, what is piety?</p>

    <p>The first definition that Euthyphro gives is "the pious is to do what I am doing now, to prosecute the wrongdoer, be it abou murder or temple robbery or anything else, whether the wrong doer is your father or your mother or anyone else; ont to prosecute is impious" (5d-e). <span class="line-number">[0006]</span> As proof, Euthyphro points out that Zeus "bound his father because he unjustly swallowed his sons, and that he in turn castrated his father for similar reasons" (6a).</p>

    <p>Socrates, holds the opinion that such things never happened to the gods, which probably contributes to the charge of impiety against him. But since he is Euthyphro's pupil, he decides to now believe in these sorts of things. Euthyphro additionally adds that he is a kind of religious literalist in that the believes (or even knows) that the stories about the gods written by humans all actually happened, in addition to many other things.</p>

    <p>In a classic turn of Socratic dialogues, Socrates then points out that Euthyphro has given only one example of a pious action, not a general definition of piety. Here comes a bit of the Platonic theory of forms, where Socrates states that he is searching for "that form itself that makes all pious actions pious, for you agreed that all impious actions are impious and all pious actions pious through one form" (6d-e).</p>

    <p><span class="line-number">[0007]</span> The second definition that Euthyphro gives is "what is dear to the gods is pious, what is not is impious" (7a). Because Euthyphro is a religious literalist, he also must acknowledge that the Gods are often in discord with each other. For some subjects there is no such thing as discord. For example, there should be no argument that five is greater than two, or that an elephant is larger than a mouse. But certain subjects, just as the just/unjust, beautiful/ugly, good/bad are subjects we constantly argue about, and that the gods constantly argue about.<span class="line-number">[0008]</span> So, some things are loved by some gods and hated by other gods, meaning there are some things which are both pious and impious, or neither pious nor impious. Even subjects such as punishment for murder has debate by humans, and debate by the gods.</p>

    <p><span class="line-number">[0009]</span>So, under Euthyphro's second definition, for Euthyphro's action to be pious, it must be the case that all the gods believe that prosecuting your father for the negligent murder of a murderer is a good thing to do. Euthyphro actually claims to be able to do this, but before he is allowed, to, Socrates forces Euthyphro to give a new definition of piety.</p>

    <p>Euthyphro's third definition of piety is "that the pious is what all the gods love, and the opposite, what all the gods hate, is the impious" (9e).</p>

</div>

{% endblock %}