{% extends "base.html" %}

{% load static %}

{% block title %}Potential Thoughts{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2021-09-15">
<meta name="modification-date" content="2021-09-15">
{% endblock %}

{% block pagetitle %}Potential Thoughts{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <p>This page contains various potential thoughts. Someday, I'll take the time to really think about them.</p>

    <table class="table table-bordered w-100">
        <thead>
            <tr>
                <th class="w-25">Thought Name</th>
                <th class="w-75">Thought Description/Background</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Thoughts on Turn Signals</td>
                <td>I believe that the primary purpose of turn signals is to tell other drivers around you that you will be doing something outside of the normal expected behavior. The issue is that turn signals are not always visible to those that need to see them, such as in a yielding right turn. Is there some better design for turn signals?</td>
            </tr>

            <tr>
                <td>Thoughts on Positive/Negative Feedback (especially in Video Games)</td>
                <td>I believe that a reason that toxicity exists in video games is because it is much easier to provide negative feedback to people in the same game when you are angry, as opposed to positive feedback when you are happy. The game Deep Rock Galactic has a rahter ingenious solution to this, with the press of a single button (a very easy action) you can immediately provide positive feedback to all other players in the same game. Providign negative feedback requires typing, which is harder than just pressing a single button. I wonder how this idea can be applied to other games.</td>
            </tr>

            <tr>
                <td>How is weight distributed in car tires between the rubber and air?</td>
                <td>A typical car tire has about 30-35 psi. With completly made up numbers, four car tires at 30psi can easily lift up a car. So in theory, the rubber of the tires does not support any car wight, only keeps the air contained. I'm sure that if I think about this some more, I can get some actual numbers.</td>
            </tr>

            <tr>
                <td>Can I derive some basic laws of traffic from axioms?</td>
                <td>For example, one axiom would be stopping distance is a fuction of various factors x, y, z, etc. Therefore, for safe highway driving, the average speed of cars is a function of the density of cars. With more thought, I could probably come up with more axioms and facts that logically follow.</td>
            </tr>

            <tr>
                <td>Once water is boiling, does higher heat make cooking faster?</td>
                <td>I mean, the obvious answer is no since the temperature of water cannot go up beyond 100 °C. The only thing that increasing heat does is make the water boil away faster. I believe that the bubbles of steam formed are higher temperatuer, more frequent, and larger under higher heat, which should in theory increase cooking speed. It would be interesting to think about exactly how much faster cooking would happen.</td>
            </tr>

        </tbody>
    </table>

</div>

{% endblock %}