{% extends "base.html" %}

{% load static %}

{% block title %}Restaurant Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2023-05-16">
<meta name="modification-date" content="2024-10-02">
{% endblock %}

{% block pagetitle %}Restaurant Tier List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Restaurant</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>SS (Eden on Earth)</th>
            <td>Chez Nous (RIP)</td>
        </tr>
        <tr>
            <th>S (Best of the best)</th>
            <td>Sushi Maruyama (Bay Area), Kabul Afgan Cruisine (Bay Area), Addis Resturant</td>
        </tr>
        <tr>
            <th>A (Amazing)</th>
            <td>The Taco Stand, Empanada Kitchen, Le Pigeon (PNW), Bud & Rob's New Orleans Bistro, Ponce's Mexican, Thanh Tinh Chay, Pop Pie Co., Formoosa*, Underbelly, Jimmy Carter's Mexican Cafe*, Trattoria da Sofia, Stella Jean's Ice Cream, Gaglione Bros Famous Steaks & Subs*, Corner Kitchen Pizzeria</td>
        </tr>
        <tr>
            <th>B (Excellent)</th>
            <td>Duff's Dogz, Kensington Cafe, Phở Vân, Tasty Pizza, Tacos El Gordo, Chris' Ono Grinds Island Grill, Smokin J's BBQ, Eris Vegan Food Co.*, TNT Pizza*, Rocky's Crown Pub*, Secret Sister, Giorgino's*, Matoi, Tabu Shabu*, Uncle John's Cafe* (LA)</td>
        </tr>
        <tr>
            <th>C (Great)</th>
            <td>Best Pizza and Brew, Urban Thai, Zen Modern Asian Bistro, Valentine's Mexican Food, Thotsakan Thai, Vallarta Express, Cuisinett (Bay Area) (RIP), Panda Dumpling (Bay Area) (RIP), Board and Brew, Plaza Deli, Santa Ramen (Bay Area), Poki One N Half, Bleu Bohème, Pomegranate, Nishiki Ramen, Curry Hyuga*, HiroNori Craft Ramen*, Mimoza Mediterranean*, Thai Island*, Urban India*, Stout Public House*, Saburos (PNW), Camellia Road Tea Bar, Tandoori Vibes</td>
        </tr>
        <tr>
            <th>D (Good)</th>
            <td>Alvaro's Mexican Food, Raising Cane's, Coal Bros Taqueria, The Kebab Shop, Snooze, Lazy Dog (Bay Area), White Rice Bodega, Phở Xpress, Nozaru Ramen Bar, Madi*, Mendocino Farms*, Madison, Medina, Burger Lounge*, Katsu Cafe*, Yalla Habibi, PHỞ XPRESS*, Flama Llama, Incredible Cheesecake Company*, Gaslamp Tavern, The Waves Taco Club</td>
        </tr>
        <tr>
            <th>E (Ok)</th>
            <td>Yesenia's Mexican Food, Ali's Chicken and Waffles, Urban Plates, Pho La Jolla, City Tacos, Zzang Hot Dog & Chicken*, Tender Greens*, CoCo Ichibanya*</td>
        </tr>
        <tr>
            <th>F (Poor)</th>
            <td>XinJiang BBQ</td>
        </tr>
    </tbody>
    </table>

    <p>*Preliminary Rating</p>

</div>

{% endblock %}
