{% extends "base.html" %}

{% load static %}

{% block title %}Tea Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2024-01-10">
<meta name="modification-date" content="2024-01-31">
{% endblock %}

{% block pagetitle %}Tea Tier List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Tea Brand/Flavor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S (Ambrosia)</th>
            <td></td>
        </tr>
        <tr>
            <th>A (Excellent Taste)</th>
            <td>Spice & Tea Fireside Spice Oolong Tea</td>
        </tr>
        <tr>
            <th>B (Great Taste)</th>
            <td>Spice & Tea Cinnamon Orange Black Tea, Spice & Tea Pomegranate Green Tea</td>
        </tr>
        <tr>
            <th>C (Good Taste)</th>
            <td>Wush Wush Ethiopian Tea</td>
        </tr>
        <tr>
            <th>D (OK Taste)</th>
            <td>Tazah Zhourat Herbal Tea</td>
        </tr>
        <tr>
            <th>F (Would not drink)</th>
            <td></td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}
