{% extends "base.html" %}

{% load static %}

{% block title %}Tea Tier List{% endblock %}

{% block other-head %}
<meta name="creation-date" content="2024-01-10">
<meta name="modification-date" content="2024-06-07">
{% endblock %}

{% block pagetitle %}Tea Tier List{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Tier (Description)</th>
            <th scope="col">Tea Brand/Flavor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>S (Ambrosia)</th>
            <td></td>
        </tr>
        <tr>
            <th>A (Amazing Taste)</th>
            <td>ITO EN Genmaiatcha</td>
        </tr>
        <tr>
            <th>B (Excellent Taste)</th>
            <td>Ippodo Gokujo Hojicha, Ippodo 2024 Sincha</td>
        </tr>
        <tr>
            <th>C (Great Taste)</th>
            <td>Ippodo Gyokuro Kanro</td>
        </tr>
        <tr>
            <th>D (Good Taste)</th>
            <td>Wush Wush Ethiopian Tea, Maeda-En Sen-Cha, Spice & Tea Fireside Spice Oolong Tea, Spice & Tea Cinnamon Orange Black Tea, Spice & Tea Pomegranate Green Tea, Ippodo Sencha Kumpu</td>
        </tr>
        <tr>
            <th>E (OK Taste)</th>
            <td>Tazah Zhourat Herbal Tea, Ippodo Gokujo Genmaicha</td>
        </tr>
        <tr>
            <th>F (Would not drink)</th>
            <td></td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}
