{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block pagetitle %}Home{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <figure class="figure site-width" style="margin-bottom: 20px;">
        <img src="{% static 'mysite/jtree_landscape.jpg' %}" class="figure-img img-fluid site-width" style="height: auto;">
        <figcaption class="figure-caption text-center">The sunset in Joshua Tree National Park, my favorite place to climb. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://www.offthebeatenpath.com/">offthebeatenpath</a>.</figcaption>
    </figure>

    <p>This is the personal webpage of Eric Liu. On this website, you can find the <a rel="noopener noreferrer" target="_blank" href="{% static 'mysite/Resume.pdf' %}">most recent version of my resume</a>, and the various projects I have worked on. If you are looking for Data Science projects, you should look at my senior capstone project, <a href="/projects#rc-rec">a rock climbing recommender</a> and <a href="/projects/stock_data">an app to generate Excel sheets with stock data</a>. If you are looking for webdev projects, you should look at <a href="/projects#website">this website</a> and my senior capstone project, for which I wrote the entirety of frontend and backend.</p>

</div>

{% endblock %}

