{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block pagetitle %}Projects{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <p>This page contains various projects I have done</p>

    <!-- Rock Climbing Recommender -->
    <div class="container site-width" id="rc-rec" style="margin-bottom: 20px;">
        <div class="row">
            <h4 class="text-center">
                <div class="boxed">OnSight: Rock Climbing Recommender</div>
            </h4>
        </div>

        <div class="row">
            <div class="col-sm-4">
                image
            </div>
            <div class="col-sm-8">
                <p>content</p>
            </div>
        </div>
    </div>

    <!-- Stock Data -->
    <div class="container site-width" id="stock-data" style="margin-bottom: 20px;">
        <div class="row">
            <h4 class="text-center">
                <div class="boxed">Stock Data</div>
            </h4>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <p>content</p>
            </div>
            <div class="col-sm-4">
                image
            </div>
        </div>
    </div>

    <!-- This website -->
    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="row">
            <h4 class="text-center">
                <div class="boxed">twigtheoracle.com</div>
            </h4>
        </div>

        <div class="row">
            <div class="col-sm-4">
                image
            </div>
            <div class="col-sm-8">
                <p>content</p>
            </div>
        </div>
    </div>

</div>


{% endblock %}