{% extends "base.html" %}

{% load static %}

{% block title %}Projects{% endblock %}

{% block pagetitle %}Projects{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <!-- Rock Climbing Recommender -->
    <div class="container site-width" id="rc-rec">
        <div class="row">
            <h4 class="text-center mx-auto">
                <div class="boxed"><span style="font-family: 'Rock Salt', cursive;"><b>OnSight</b></span>: Rock Climbing Recommender</div>
            </h4>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <figure class="figure" style="max-width: 100%;">
                    <img src="{% static 'mysite/white_rasta.png' %}" class="img-fluid" style="max-width: 100%;">
                    <figcaption class="figure-caption text-center"><a rel="noopener noreferrer" target="_blank" href="https://www.mountainproject.com/route/105722593/white-rastafarian">White Rastafarian</a> (V2) in Joshua Tree National Park. One of my favorite climbs. Image credit to <a href="https://www.ericarphotography.com/" target="_blank" rel="noopener noreferrer">Erica Robinson</a>.</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <p>The full application can be found at <a rel="noopener noreferrer" target="_blank" href="https://dsc180b-rc-rec.herokuapp.com/">https://dsc180b-rc-rec.herokuapp.com/</a>, and the full code for the project, as well as build instructions, can be found on <a rel="noopener noreferrer" target="_blank" href="https://github.com/DSC180-RC/Rock-Climbing-Recommender">GitHub</a>. Since the project is hosted on Heroku free tier, the project will take a minute to open when you first click the link.</p>

                <p>This project was originally created by me and two other UCSD students for our senior capstone project, with a focus on recommender systems. The world of outdoor rock climbing lacks good recommendation systems, with current methods being word of mouth, guide books limited to specific areas, and most popular. Our goal with <span style="font-family: 'Rock Salt', cursive;"><b>OnSight</b></span> was to create personalized recommendations for experienced rock climbers.</p>

                <p>For a more complete description of the methods used, take a look at the <a rel="noopener noreferrer" target="_blank" href="https://dsc180b-rc-rec.herokuapp.com/about/">About</a> page and the <a rel="noopener noreferrer" target="_blank" href="https://dsc180b-rc-rec.herokuapp.com/algorithms/">Algorithms</a> page on the project site.</p>
            </div>
        </div>
    </div>

    <!-- Stock Data -->
    <div class="container site-width" id="stock-data">
        <div class="row">
            <h4 class="text-center mx-auto">
                <div class="boxed">Stock Data</div>
            </h4>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <p><a href="/projects/stock_data">CLICK HERE TO GO TO THE PROJECT PAGE</a></p>

                <p>Stock Data is an project that collates pricing and IV data into Excel sheets. Data is provided by <a rel="noopener noreferrer" target="_blank" href="https://www.quandl.com/">Quandl</a> using the premium datasets of <a rel="noopener noreferrer" target="_blank" href="https://www.quandl.com/data/QOR-US-Equity-Option-Ratings">QOD</a> (US Equity Option Ratings) and <a rel="noopener noreferrer" target="_blank" href="https://www.quandl.com/data/EOD-End-of-Day-US-Stock-Prices">EOD</a> (End of Day US Stock Prices). Data is collated over a long term time period of ten years, and short term time periods of one, two, and three months (approximately 20, 40, and 60 trading days respectively).</p>

                The full code for the project can be found on <a rel="noopener noreferrer" target="_blank" href="https://github.com/twigtheoracle/Stock-Data">GitHub</a>. Due to data licensing restrictions, the full project output is not available to everyone. If the full project output should be availble to you and you don't remember how to access it, then contact Eric. If you don't know how to contact Eric, are you sure that you should have access?</p>

            </div>
            <div class="col-sm-6">
                <figure class="figure" style="max-width: 100%;">
                    <img src="{% static 'mysite/stock-data.png' %}" class="img-fluid" style="max-width: 100%;">
                    <figcaption class="figure-caption text-center">One of many charts in the Excel sheet.</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <!-- PHIL 174 Final Project -->
    <div class="container site-width" id="stock-data">
        <div class="row">
            <h4 class="text-center mx-auto">
                <div class="boxed">Ethical Development of a Transportation Demand Model</div>
            </h4>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <figure class="figure" style="max-width: 100%;">
                    <img src="{% static 'mysite/tdm.png' %}" class="img-fluid" style="max-width: 100%;">
                    <figcaption class="figure-caption text-center">A common workflow to predict the level of service of a transportation network. Image credit to <a href="https://www.mwcog.org" target="_blank" rel="noopener noreferrer">Metropolitan Washington Council of Governments</a>.</figcaption>
                </figure>
            </div>
            <div class="col-sm-7">

                <p><a href="/projects/ethical_tdm">CLICK HERE TO GO TO THE PROJECT PAGE</a></p>

                <p>A travel demand model uses travel behavior to predict how travel patterns will change based on specific infrastructure changes. As has been the current trend in the US since at least the early 1900s, travel demand models have primarily focused on how traveling by car changes. However, only recently have we begun to understand the widespread impacts of spending hours every day stuck inside a car. At the very minimum, longer driving time is associated (not correlated but some studies do draw this conclusion) with "higher odds for smoking, insufficient physical activity, short sleep, obesity, and worse physical and mental health" (<a rel="noopener noreferrer" target="_blank" href="https://doi.org/10.1371%2Fjournal.pone.0094602">Ding et al.</a>).</p>

                <p>As a result of these various car travel related health impacts, there has been a recent push towards less motorized forms of transportation, including but not limited to walking, biking, micro-mobility, and various forms of public transit. However, as a result of previous history, travel demand models do not accurately capture how non-car transit changes with new infrastructure.</p>

                <p>In this project I will develop a transportation demand model in an ethical manner, or at least write out how I would do so. Although not the only ethical issue, a major theme of this project will be my attempts to capture the travel behavior of disadvantaged communities such as children, the elderly, and the poor. Note, I consider them disadvantaged because these groups tend to lack access to personal vehicles and are thus at a disadvantage when our transportation network is built around cars.</p>

            </div>
        </div>
    </div>

    <!-- This website -->
    <div class="container site-width" id="website" style="margin-bottom: 20px;">
        <div class="row">
            <h4 class="text-center mx-auto">
                <div class="boxed">twigtheoracle.com</div>
            </h4>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <p>This website uses Django with Nginx and Gunicorn, and is hosted on Digital Ocean. Website layout is done using Bootstrap 4. Since you are already on this website, you can see it in action. The code for the website can be found on <a rel="noopener noreferrer" target="_blank" href="https://github.com/twigtheoracle/twigtheoracle.com">Github</a>.</p>

                <p>The face image was done by a friend of mine who I have unfortunately lost contact with.</p>
            </div>
            <div class="col-sm-2">
                <figure class="figure" style="max-width: 100%;">
                    <img src="{% static 'mysite/face.jpg' %}" class="img-fluid" style="max-width: 100%;">
                </figure>
            </div>
        </div>
    </div>

</div>

{% endblock %}