{% extends "base.html" %}

{% load static %}

{% block title %}Thoughts{% endblock %}

{% block pagetitle %}Thoughts{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <p>This page contains various thoughts or ideas I have had and worked out. This page was created partially to keep track of things I think about, partially to learn more django, and was partially inspired by Disco Elysium's Thought Cabinet.</p>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                Date Created
            </div>
            <div class="col-sm-10">
                Thought Title
            </div>
        </div>
    </div>

</div>

{% endblock %}