html {
    background-color: white;
}

body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    color: black;
}

.container {
    position: relative;
}

.sidebar-item {
    display: block;
    text-decoration: none;
}

#hammer-calculator {
    
    display: flex;
    
    flex: 1;
    
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 20px 20px 20px 20px;
}

.table-centered {
    text-align: center;
}

.table-border {
    border: 1px solid black;
}

#hammer-results-title {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: auto;
    background-color: white;
}

.header {
    font-family: 'Anton';
    position: relative;

    margin: 0 auto;
    
    text-align: center;
}

.content-home {
    margin: 0 auto;
    
    text-align: center;
    
    font-family: 'Anton'
}

.content {
    margin: 5px 0 5px 105px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    height: 100px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.banner-image {
    position: relative;
    height: 100px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: calc(100% - 105px);
}

a.sidebar-item:link {
    color: black;
}

a.sidebar-item:visited {
    color: black;
}

a.sidebar-item:hover {
    color: black;
}

a.sidebar-item:active {
    color: black;
}

.banner {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#front-page-face {
    border-radius: 100%;
    height: 300px
}

a.table-of-contents:link {
    color:black;
}

a.table-of-contents:visited {
    color:black;
    text-decoration: none;
}

#outside-links {
    height: 25px;
    text-align: center
}

.outside-link-logo {
    height: 100%
}

.footer {
    margin-top: 20px
}

#page-content {
    margin-left: 10px;
    width: 30%;
}

.page {
    margin-top: 30px;
    display: flex;
}

#hammer-results-table {
    display: inline-block;
    vertical-align: center;
    
    margin-left: 10px;
}

#hammer-calc {
    display: inline-block;
    vertical-align: center;
}

#hammer-player-count {
    margin: 0 auto;
    text-align: center;
}
