html {
    background-color: beige;
}

body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

.container {
    position: relative;
    padding: 0 0 0 105px;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: auto;
    background-color: aquamarine;
}

#header {
    position: relative;
    border: 1px;
    margin: 5px 0 5px 0;
}

#content {
    margin: 5px 0 5px 0;
}

.sidebar-item {
    display: block;
}

#logo {
    height: 100px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#banner-image {
    position: relative;
    height: 100px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: calc(100% - 105px);
}




