/*
Basic css stuff
*/

html {
    background-color: white;
}

body {
    font-family: Abel, Tahoma, Verdana, Arial, sans-serif;
    color: black;
}

/*
Link coloring for all links
*/

a:link {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: underline;
}

/*
The page layout stuff
*/

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.container {
    position: relative;
}

.header {
    font-family: 'Anton';
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.link {
    height: 50px;
    width: 50px;
}

.page {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    
    width: 100%;
    
    min-height: 100px;
    min-width: 100px;
}

.page-left-box {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    
    display: inline-block;
    
    width: 68%;
    
    min-height: inherit;
    
    text-align: center;
}

.page-left-box-flipped {
    display: inline-block;
    
    width: 68%;
    
    min-height: inherit;
    
    padding-right: 10px;
}

.page-right-box {
    display: inline-block;
    
    width: 32%;
    
    min-height: inherit;
    min-width: inherit;
}

.page-right-box-flipped {
    display: inline-block;
    
    width: 32%;
    
    min-height: inherit;
    min-width: inherit;
    
    border-style: solid;
    border-color: black;
    border-width: 1px;
    
    text-align: center;
}

.page-right-center-box {
    padding: 5px;
    padding-left: 10px;
    margin: 0, auto; 
}

.page-left-center-box {
    padding: 5px;
    padding-right: 10px;
    margin: 0, auto;
}

#page-content {
    display: inline-block;
    margin-left: 10px;
    width: 30%;
}

.footer {
    margin-top: 20px;
    padding: 10px;
}


/*
Front page stuff
*/

#front-page-face {
    border-radius: 100%;
    height: 300px
}

.content-home {
    margin: 0 auto;
    text-align: center;
    font-family: 'Anton';
    
    padding: 10px;
    
    border-color: black;
    border-width: 2px;
    border-style: dashed;
}

#outside-links {
    height: 25px;
    text-align: center;
}

.outside-link-logo {
    height: 100%
}


/*
Table stuff
*/

.table-centered {
    text-align: center;
}

.table-border {
    border: 1px solid black;
}

.logo {
    height: auto;
}

/*
Other stuff
*/

.centered {
    text-align: center;
}



.table-of-contents {
    padding: 5px;
}
