{% extends "base.html" %}

{% load static %}

{% block title %}Casual Music Reviews{% endblock %}

{% block otherhead}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock }

{% block pagetitle %}Casual Music Reviews{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">

        <p>I really enjoy listening to music, especially the discovery process of new music. I put a lot of effort and time into listening to new music, all for the goal of discovering something new which will blow my mind. "Flood" by Boris is one example, where after discovery and many listens, the album catapulted itself into the position of favorite album of all time. For reference, you can find my full list of favorite music at <a href="/thoughts/The Ten out of Ten Albums">the relevant thought page</a></p>

        <p>I find a lot of joy listening to new and different kinds of music, and it is a mini life goal of mine to spread unique, but not always that good, music around to other people. Although I think I lack the poetry and cultural knowledge to write really extensive music reviews, I've documented my brief thoughts of a wide variety of music in this project page.</p>

    </div>

    <table id="sortable-table" class="table table-striped table-bordered w-100">
        <thead>
            <tr>
                <th>Date Created</th>
                <th>Last Updated</th>
                <th>Artist</th>
                <th>Album/Song</th>
                <th>Genre(s)</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for dc, dc_sort, dm, dm_sort, artist, title, genre, rating, file in metadata %}

                <tr>
                    <td><span hidden>{{ dc_sort }}</span>{{ dc }}</td>
                    <td><span hidden>{{ dm_sort }}</span>{{ dm }}</td>
                    <td>{{ artist }}</td>
                    <td>{{ title }}</td>
                    <td>{{ genre }}</td>
                    <td>{{ rating }}/5</td>
                    <td><a href="/projects/casual_music_reviews/{{ file }}">Link</a></td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $('#sortable-table').DataTable( {
        "searching": true,
        "order": [[0, "dsc"], [1, "dsc"]],
        "aLengthMenu": [
            [25, 50, 100, 200, -1],
            [25, 50, 100, 200, "All"]],
        "iDisplayLength": -1
    });
} );
</script>
{% endblock %}