{% extends "base.html" %}

{% load static %}

{% block title %}Casual Music Reviews{% endblock %}

{% block pagetitle %}Casual Music Reviews{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">

        <p>I really enjoy listening to music, especially the discovery process of new music. I put a lot of effort and time into listening to new music, all for the goal of discovering something new which will blow my mind. "Flood" by Boris is one example, where after discovery and many listens, the album catapulted itself into the position of favorite album of all time. For reference, you can find my full list of favorite music at <a href="/thoughts/The Ten out of Ten Albums">the relevant thought page</a></p>

        <p>I find a lot of joy listening to new and different kinds of music, and it is a mini life goal of mine to spread unique, but not always that good, music around to other people. Although I think I lack the poetry and cultural knowledge to write really extensive music reviews, I've documented my brief thoughts of a wide variety of music in this project page. Note that the date listed is when the music was first reviewed, I may have updated the review since then.</p>

    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">December 6th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/%E6%9D%B1%E4%BA%AC%E4%BA%8B%E5%A4%89/%E5%A4%A7%E4%BA%BA-adult/">Tokyo Incidents - Adult</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/adult.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Jazz Rock<br>Release Date: January 25th, 2006<br>My Rating: 4/5</p>

                    <p>In my long quest to find the next Lamp, I must have listened to every single decently rated or higher Jazz Pop album released in the last 20 years. My quest still continues, but in the process I discovered some hidden gems, such as 大人 (Adult) by 東京事変 (Tokyo Incidents).</p>

                    <p>大人 is the opposite of the silky smooth Jazz Pop of Lamp, with the only real similarities being the fusion of Jazz with a more modern genre, in this case Rock. Whereas Lamp is low-key and mellow, even on the faster tracks, 大人 is over the top and excessive, even on the slower tracks. I think the second to last track "Invisible Man (Adult Version)" is especially emblematic of this. The tempo is not fast, but in song every instrument and the vocals are all over the place in both their sound and range. Random bells and whistles (not literally) accent while the song's tone flip-flops around the same theme. This strange variety permeates the whole album, making for a plain fun listening experience.</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_nXa1_t-vkq6FtGWqjoq-f-_Kn443M0hDg">https://music.youtube.com/playlist?list=OLAK5uy_nXa1_t-vkq6FtGWqjoq-f-_Kn443M0hDg</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/2cVtur6q97JRQFquXkdTQf">https://open.spotify.com/album/2cVtur6q97JRQFquXkdTQf</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">November 21st, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/%E5%90%89%E6%BE%A4%E5%98%89%E4%BB%A3%E5%AD%90/%E5%B1%8B%E6%A0%B9%E8%A3%8F%E7%8D%A3-yaneura-juu/">屋根裏獣 - Kayoko Yoshizawa</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/attic_beast.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Jazz Pop, Art Pop<br>Release Date: March 15th, 2017<br>My Rating: 4.5/5</p>

                    <p>In my long quest to find the next Lamp, I must have listened to every single decently rated or higher Japanese Jazz Pop album released in the last 20 years. My quest still continues, but in the process I discovered some hidden gems, such as 屋根裏獣 (translated as Attic Beast) by 吉澤嘉代子 (Kayoko Yoshizawa).</p>

                    <p>I'll start by saying Attic Beast is possibly the most innovative album I've listened to, featuring a bewildering variety of instruments. At times, they combine into some kind of dense orchestral jazz, which is high energy but never loud. At other times, it's distilled down into Yoshizawa's calm voice over simple instrumentals. These two contrasting styles are very evident on track 7 地獄タクシー (translated as Hell Taxi), which I highly recommend as being a microcosm of the album as a whole.</p>

                    <p>At the end of the day, Attic Beast is just a fun and playful album with constant switches of styles and many head bobbing moments. It's not my favorite album of all time, not even close, but it's probably among my most played albums of all time. Pretty much no matter how I'm feeling, it's always a good time to listen.</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_lr8S458u5JTi8B-17bClnSMme-D6F5RJQ">https://music.youtube.com/playlist?list=OLAK5uy_lr8S458u5JTi8B-17bClnSMme-D6F5RJQ</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/5XjkMIxoHwWRZjRSktzTVv">https://open.spotify.com/album/5XjkMIxoHwWRZjRSktzTVv</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">November 6th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/ramper/solo-postres/">Ramper - Solo Postres</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/solo_postres.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Rock, Slowcore<br>Release Date: September 18th, 2024<br>My Rating: 4.5/5</p>

                    <p>What will likely end up being my favorite album this year (and a possible candidate for my seventh 10/10 album) is titled "Solo Postres" by Spanish band Ramper. The album takes Post-Rock song structure to the extremes, with the lows being incredibly sparse and the highs being slow but heavy. As a massive plus for me, the album also features extensive classical instruments from various horns to string instruments. </p>

                    <p>The music cultivates a kind of dark pastoral vibe with it's extensive folk music influences while keeping the imagery of a fantastical journey across snow capped peaks and foggy plains. I lack the media literacy to fully describe my feelings about this album, but I would call it some kind of epic "Lord of the Rings" style journey composed of traveling through Lovecraft's dream books. I think the journey part is quite apt, but the Lovecraft comparison is only partially there... I only include Lovecraft for sense of surreal mystery I get from listening, but the album has only a tiny hint of futile struggle against cosmic forces. In the end though, the album managed to evoke in me emotions, feelings, and thoughts I don't have words for, and is there any higher praise for media?</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_m2zKJwUwnaRLshfpXu5XQw9X2HM9z6Dec">https://music.youtube.com/playlist?list=OLAK5uy_m2zKJwUwnaRLshfpXu5XQw9X2HM9z6Dec</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/76QaJHgcLO6G1GzkCq10Hj">https://open.spotify.com/album/76QaJHgcLO6G1GzkCq10Hj</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">October 11th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/mj-lenderman/mj-lenderman/">MJ Lenderman - MJ Lenderman</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/mj_lenderman.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Alt-Country, Slacker Rock<br>Release Date: June 15th, 2019<br>My Rating: 4.5/5</p>

                    <p>Another one of my favorite albums of all time is "The Magnolia Electric Co." by Songs: Ohia. It gained this distinction by having some of the greatest lyricism ever written, expressed through band leader Jason Molina's struggles with depression, drug abuse, and love. But I'm not confident enough to review Molina's magnum opus, so instead this is about the self-titled album from MJ Lenderman, a love letter to Molina.</p>

                    <p>MJ Lenderman's self-titled is a masterpiece of Country/Slacker Rock, which you can think of as slow and striped down Country music with a few rock elements. Notice both the lap steel guitar, a classic Country instrument which allows notes to smoothly glide between each other, and the saxophone highlights, which always elevates music in my eyes.</p>

                    <p>In Slacker Rock style, the music gains a depressive tone through it's lethargic tempo and sparse instrumentation. In Country music sung by a male style, the lyrics are pretty uniformly sad and bittersweet. In combination, the album gains incredible weight despite its minimalism, demanding your full attention when listening. </p>

                    <p>Although not quite at the level of Jason Molina (jokingly, MJ Lenderman needs an alcohol addiction to be that good), the album is full of poetry. In the track "Southern Birds", MJ Lenderman sings:</p>

                    <p>With the patience of the willow<br>Who's waiting for that searchin' wind<br>Waiting for a light<br>So why, then, if this is true<br>Do I love the night and it's hollow moon<br>And those southern birds leaving me behind<br>When they go back home, I wanna go home<br>Fly home, fly home</p>

                    <p>A seriously great album, a very solid 9/10. I would highly recommend you listen to both MJ Lenderman's self-titled and afterwards, "The Magnolia Electric Co." for comparison.</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_lxNeecLrGUhTa3Q0ZFLxEK7ic758zPjJw">https://music.youtube.com/playlist?list=OLAK5uy_lxNeecLrGUhTa3Q0ZFLxEK7ic758zPjJw</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/2jqRKWESMCzcoGo7ZPHdHQ">https://open.spotify.com/album/2jqRKWESMCzcoGo7ZPHdHQ</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">September 27th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/sadness/i-want-to-make-something-as-beautiful-as-you/">Sadness - i want to make something as beautiful as you</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/i_want_to_make_something_as_beautiful_as_you.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Shoegaze, Post-Rock<br>Release Date: August 24th, 2024<br>My Rating: 4/5</p>

                    <p>The most prolific music artist I am aware of is small collection of solo acts all done by Damián Antón Ojeda of Mexico. His two main solo acts are Blackgaze/Shoegaze band Sadness and Black Metal band Trhä. To illustrate his prodigious output, in 2023 alone, through only these two bands, Damián released 22 collaboration albums and 9 solo albums. It's not just regurgitated slop either, I've listened to about 1/3 of his recent discography and I've never given a rating below 7/10 to any of it.</p>

                    <p>About one month ago, he recently went through a rough breakup with his girlfriend of 5+ years, and as such is now on indefinite hiatus. But what better way to sign off than writing, recording, and releasing three full albums over the course of two weeks dedicated to lost love.</p>

                    <p>Of the three albums I would recommend "i want to make something as beautiful as you", not because it is the best, but rather because it is the softest, although it is still Shoegaze. If you only listen to one track, you should listen to the third, titled "damzamkeit", which has a shining example of post-rock song structure while not being too noisy. Actually, now that I'm thinking about it, pretty much every song follows the classic post-rock progression, gradually swinging between clean and quiet guitars to heavy noise and back down again. If you're on the fence about listening to Shoegaze or noisy music in general, there aren't many better options of where to start.</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_nIXW5wlpUUIAT6mh07GSa6n2dMkl_xZSU">https://music.youtube.com/playlist?list=OLAK5uy_nIXW5wlpUUIAT6mh07GSa6n2dMkl_xZSU</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/2r7PrD95aTWaIFTD3MVQTx">https://open.spotify.com/album/2r7PrD95aTWaIFTD3MVQTx</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">September 12th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/maruja/the-vault/">Maruja - The Vault</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/the_vault.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Rock, Jazz-Rock<br>Release Date: August 30th, 2024<br>My Rating: 4.5/5</p>

                    <p>Maruja have been my second favorite band for a year and a half now, ever since they released a legendary EP titled "Knocknarea", perhaps the closest a band has ever gotten to re-capturing the unique Jazz-Punk sound of Japanese band Midori. Finally, after almost ten years as a band, Maruja have released their first full album, but not in the way anyone expected them to.</p>

                    <p>"The Vault" is a collection of six improvised songs from their practice sessions which total about 90 minutes. Stylistically, rather than repeat the manic sounds of Jazz-Punk they've done in the past, the album see-saws between Post-Rock and long-form Jazz. The dissonance between competing musical ideas, the way sounds hypnotically ebb and flow, how you can hear each individual member perform yet eventually come together into a cohesive form, I believe Maruja have captured a small part of the shape of music.</p>

                    <p>YT Part 1: <a href="https://www.youtube.com/watch?v=mqg_sVf003Y">https://www.youtube.com/watch?v=mqg_sVf003Y</a></p>

                    <p>YT Part 2: <a href="https://www.youtube.com/watch?v=qIpCyrBfgis">https://www.youtube.com/watch?v=qIpCyrBfgis</a></p>

                    <p>Not on any other streaming services</p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">August 27th, 2024: Diles que no me maten Live on KEXP</div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/obrigagii.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Art Rock, Post-Rock<br>Release Date: April 18th, 2023<br>My Rating: N/A</p>

                    <p>Although I usually send albums, this review is of a live performance on KEXP by the Mexican band Diles que no me maten, translated as Tell them not to kill me. The reason for this is that the first song is an improvisation (about 90% sure), the second is a single, and the last two are from different albums. But together they work together amazingly as a kind of greatest hits compilation.</p>

                    <p>I really hate using this term, but Diles que no me maten seem to fit the exact definition of Art Rock, albeit their own sparse and minimal version of the genre. There's some recognizable rock elements, such as the drums on the second song, but their heavy usage of textures over melodies, extensive reverb, and unusual instruments (Sax, Trumpet, Cello, etc.) give them a truly unique sound in the world of rock.</p>

                    <p>Furthermore, the vocalist of Diles que no me maten has pretty much the only spoken word style vocal delivery that I've liked in recent memory. That's even in spite of the fact that I speak zero Spanish, so it's solely based upon the sounds, rhythms, and cadence of the vocals. After listening to the whole performance, I would highly recommend you listen to the section from around 10:45 to 13:00, lying/sitting down, eyes closed, and just absorb.</p>

                    <p>YT: <a href="https://www.youtube.com/watch?v=p0GLpHgTb4k">https://www.youtube.com/watch?v=p0GLpHgTb4k</a></p>
                    
                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">August 15th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/boris/boris-at-last-feedbacker-/">Boris - Boris at Last -Feedbacker-</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/boris_at_last_feedbacker.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Drone Metal<br>Release Date: December 25th, 2003<br>My Rating: 4.5/5</p>

                    <p>Boris has been my favorite band of all time for almost a year now, and it's in large part because of their album "Flood". But this review is about my second favorite album of theirs, a legendary Drone Metal album called "Boris at Last -Feedbacker-"</p>

                    <p>As the album title implies, the primary tool is amplifier feedback, where the sound created by the amplifier is recycled through microphones or guitar pickups multiple times, which tends to compound noise in the electrical signal. Done on accident, this causes the sharp screeching sound you occasionally hear in live music. Done on purpose, the sound becomes hypnotically dense and crushingly loud. Boris truly demonstrate their mastery of this guitar technique on this album, using it to create pulsing and droning sounds you can hear nowhere else</p>

                    <p>I gave the album a 9/10, with one point taken off solely for Parts 4 and 5. Part 4 in particular I dislike because it sharply swerves into the realm of raw noise for seemingly no purpose. Feel free to also skip Part 5, which serves as a short recap of the main melody before bowing out. But the first three parts are must listen 10/10 music</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_lWd0imnQRzFnBQBlpJHq0vXNgKiUYiWQY">https://music.youtube.com/playlist?list=OLAK5uy_lWd0imnQRzFnBQBlpJHq0vXNgKiUYiWQY</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/2Xbd3EI9auhlw5WOKnNX3H">https://open.spotify.com/album/2Xbd3EI9auhlw5WOKnNX3H</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">July 30th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/mabe-fratti/sentir-que-no-sabes/">Mabe Fratti - Sentir que no sabes</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/sentir_que_no_sabes.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Art Pop<br>Release Date: June 28th, 2024<br>My Rating: 4/5</p>

                    <p>A recent release I have really enjoyed listening to this year is "Sentir que no sabes" by Guatemalan cellist and vocalist Mabe Fratti. The primary reason why I love the album so much is that it has a sound I've never really heard before, that of duet for cello and voice (with light drum machine). And the cherry on top is that it has horn and piano accents, two features guaranteed to draw me in.</p>

                    <p>I cannot stress how much a difference it makes to have a cello instead of a bass. Oftentimes with low bass you don't quite "hear" the sound, rather you physically "feel" the sound, which incidentally is the reason you put subwoofers on the ground on a hard surface. With cello used instead of bass, especially the weirdly atonal cello Mabe Fratti plays, you really hear a deep and woody sound. These features are most prominent on tracks 4 (Oídos) and 8 (Márgen del índice) and I would highly recommend you listen to them first.</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_n4ezVDYwd54usVPqtdWbcBIk0zVue_-bE">https://music.youtube.com/playlist?list=OLAK5uy_n4ezVDYwd54usVPqtdWbcBIk0zVue_-bE</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/0lIG0tIWqZiWkL43EZvg0l">https://open.spotify.com/album/0lIG0tIWqZiWkL43EZvg0l</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">July 16th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/a-silver-mt-zion/he-has-left-us-alone-but-shafts-of-light-sometimes-grace-the-corner-of-our-rooms/">A Silver Mt. Zion - He Has Left Us Alone but Shafts of Light Sometimes Grace the Corner of Our Rooms...</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/he_has_left_us_alone.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Rock, Modern Classical<br>Release Date: March 13th, 2000<br>My Rating: 4/5</p>

                    <p>In a classic example of pretentious Post-Rock album naming, the debut album from A Silver Mt. Zion is titled "He Has Left Us Alone but Shafts of Light Sometimes Grace the Corner of Our Rooms..." The album was written and recorded in dedication to the lead guitarist's dog, who died of cancer while on tour with "Godspeed You! Black Emperor" (perhaps the most famous Post-Rock band of all time).</p>

                    <p>In classic Godspeed You! style, the album is universally apocalyptic and melancholic. It's music which would be recovered from the wreckage of a planet after nuclear winter, or perhaps fired into space as the last act of our species as we cook alive. Of special note are tracks five (13 Angels Standing Guard 'Round The Side Of Your Bed) and eight (For Wanda). The two tracks elevate the somber atmosphere to the maximum</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_n880RRye0i5Fi9Cbmm_n8JLACK3AW6mPA">https://music.youtube.com/playlist?list=OLAK5uy_n880RRye0i5Fi9Cbmm_n8JLACK3AW6mPA</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/298tKa2DPLT9GNmY8vsvLj">https://open.spotify.com/album/298tKa2DPLT9GNmY8vsvLj</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">July 2nd, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/twinsistermoon/when-stars-glide-through-solid/">TwinSisterMoon - When Stars Glide Through Solid</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/when_stars_glide_through_solid.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Ambient, Drone, Folk<br>Release Date: 2007<br>My Rating: 4.5/5</p>

                    <p>I've been listening to a French duo called Natural Snow Buildings who are famous for releasing insanely long (up to six hours!) albums of Ambient/Folk/Drone music. The length of their music and the genre intersection of Ambient/Drone means listening is incredibly meditative, the kind of music you listen to when lying in bed, eyes closed, doing absolutely nothing. But, I don't want to recommend their music to anyone since listening to a six hour long album is a tough ask, especially when it comes with the caveat of "it gets a lot better after the first two hours"</p>

                    <p>Fortunately, one of the members of this French duo, Mehdi Ameziane (aka TwinSisterMoon) released what amounts to a short introduction to the music of Natural Snow buildings through a not even one hour long album. "When Stars Glide Through Solid" keeps the musical style of ambient folk without venturing into hypnotically long tracks. I feel like I say this far too much, but this is a (relatively) approachable introduction to a very unique genre of music</p>

                    <p>YT: <a href="https://www.youtube.com/watch?v=ExPhZxYREEc">https://www.youtube.com/watch?v=ExPhZxYREEc</a></p>

                    <p>If you find you enjoyed this album, I would next recommend "The Winter Ray" by the full Natural Snow Buildings duo. Clocking in at a pretty short 2.5 hours, it is probably my favorite release of theirs due to its perfect capturing of a bleak and harrowing winter night</p>

                    <p>YT: <a href="https://www.youtube.com/watch?v=lx_dEmt1alI">https://www.youtube.com/watch?v=lx_dEmt1alI</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">June 5th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/37500-yens/astero/">37500 Yens - Astero</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/astero.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Math Rock, Noise Rock<br>Release Date: June 21st, 2007<br>My Rating: 4.5/5</p>

                    <p>"Astero" by 37500 Yens is one of the best Math Rock albums every released. Written and performed by two incredibly obscure French guys, all we know are their first names: Jud on guitar and Frank on drums. Frank is one of the best drummers I've ever heard, somehow able to give structure to a fractal polyrhythmic heaven. Jud is a magician on the guitar, playing what sometimes sounds like three guitars at once through masterful usage of what I assume are looping and delay pedals.</p>

                    <p>Of particular note are tracks 5 (Canard Boiteux) and 8 (The Sullivan's Quartet) both of which add a little extra on top of guitar and drums. Canard Boiteux features a four minute John Zorn-esque saxaphone freak-out which offers a much needed reprieve from the heavy guitars. The climax on The Sullivan's Quartet features the only vocals on the whole album, in the form of agonizing screams.</p>

                    <p>"Astero" is truly unique, not just in Math Rock but in all music</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_nGGe5URwGZEWwjajXeu9RPZscFeSM5K_0&si=8Y5GgesquiMLL4-h">https://music.youtube.com/playlist?list=OLAK5uy_nGGe5URwGZEWwjajXeu9RPZscFeSM5K_0&si=8Y5GgesquiMLL4-h</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/6uwPiAADXiJ1So8L6EFCti">https://open.spotify.com/album/6uwPiAADXiJ1So8L6EFCti</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">May 21st, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/lamp/%E6%81%8B%E4%BA%BA%E3%81%B8-koibito-e/">Lamp - 恋人へ</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/for_lovers.png' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Jazz Pop, Bossa Nova<br>Release Date: February 11th, 2004<br>My Rating: 4.5/5</p>

                    <p>Lamp has some of the most mellow and soothing music to ever grace the face of this planet. Their album "恋人へ" (translated as "For Lovers") is incredibly warm Jazz Pop with hints of Bossa Nova. Imagine you're walking along a Studio Ghibli-esque beachside on a peaceful summer night. Distill that feeling, butter it over silky smooth jazz, and layer mellow vocals on top. Welcome to the world of Lamp</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_mDSyH2kGcoATU9poAsdKp4RFS2poaMFTo">https://music.youtube.com/playlist?list=OLAK5uy_mDSyH2kGcoATU9poAsdKp4RFS2poaMFTo</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/0gwS2D9sukMLXNvleEnYr2">https://open.spotify.com/album/0gwS2D9sukMLXNvleEnYr2</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">May 8th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/kamasi-washington/fearless-movement/">Kamasi Washington - Fearless Movement</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/fearless_movement.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Spiritual Jazz, Jazz Fusion<br>Release Date: May 3rd, 2024<br>My Rating: 4/5</p>

                    <p>My boy Kamasi Washington, one of the more famous modern Jazz musicians, recently dropped a new album called "Fearless Movement". If you've heard of him but are not sure where, he was a significant but hidden driving force behind "To Pimp a Butterfly" by Kendrick Lamar. The album features genuine Jazz-Rap, excellent spiritual jazz, and features by storied individuals such as Thundercat and George Clinton, as well as a underground yet promising New Age flutist called Andre 3000. "Fearless Movement" and what Kamasi Washington is doing feels like the future of jazz.</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_ku_hVMiBSyQvMndjOcB6CSgSw1eJ3uQYA">https://music.youtube.com/playlist?list=OLAK5uy_ku_hVMiBSyQvMndjOcB6CSgSw1eJ3uQYA</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/0Jy18n9qpKS4RyDYmaPpdL">https://open.spotify.com/album/0Jy18n9qpKS4RyDYmaPpdL</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">April 22nd, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/%E3%83%9F%E3%83%89%E3%83%AA/%E3%81%82%E3%82%89%E3%81%9F%E3%82%81%E3%81%BE%E3%81%97%E3%81%A6%E3%80%81%E3%81%AF%E3%81%98%E3%82%81%E3%81%BE%E3%81%97%E3%81%A6%E3%80%81%E3%83%9F%E3%83%89%E3%83%AA%E3%81%A7%E3%81%99%E3%80%82-aratamemashite-hajimemashite-midori-desu/">Midori - あらためまして、はじめまして、ミドリです</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/midori_lp2.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Jazz-Punk<br>Release Date: May 14th, 2008<br>My Rating: 4.5/5</p>

                    <p>One of my favorite albums ever released is a Japanese jazz punk album by Midori titled "あらためまして、はじめまして、ミドリです" (translated as "Nice to meet you again, I'm Midori"). Seriously, do not get baited by the first song, the emphasis for this album is on the PUNK part of jazz punk. Here's someone else's review which I think perfectly encapsulates the music:</p>

                    <p>"You could go to a jazz bar and be chilling there with a drink in hand, watching the band play some classic numbers, and even though you think they may be playing it too fast, the lovely lady on the mic eases every wrong in your mind. Her voice is cute, almost childish, but the way everything just falls into place is almost unsettling. Then all of a sudden, all hell breaks loose. Literally. The tempo is upped by a good five hundred percent, the band is now playing monstrous riffs and the drummer is beating the shit out of his instrument. The lady has gone berserk, and while howling and screaming into the mic, she now proceeds to bludgeon you to death. The whole aesthetic would make any hardcore act proud."</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_lm3hNmpsw8KoC5swnHsKYvfHn8i01fYwA">https://music.youtube.com/playlist?list=OLAK5uy_lm3hNmpsw8KoC5swnHsKYvfHn8i01fYwA</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/5q8Hkakvwmb5Zyk4nUZKyD">https://open.spotify.com/album/5q8Hkakvwmb5Zyk4nUZKyD</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">March 26th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/boris/flood/">Boris - Flood</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/flood.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Rock, Drone<br>Release Date: December 15th, 2000<br>My Rating: 5/5</p>

                    <p>Well, it finally happened, my favorite album of all time, "98.12.28 Otokotachi no Wakare" by Fishmans has been unseated from it's throne.</p>

                    <p>The new King is a Post-Rock/Drone album titled "Flood" by Boris. While technically a single track spanning 70 minutes, it is divided into four parts titled Flood I through IV. Amazingly for a new favorite album of all time, half of the runtime in Flood I and IV are simply okay. But Flood II and III are the greatest 35 minutes of music I've ever heard. They are so far beyond 10/10 it excuses the middling sounds before and after.</p>

                    <p>Flood II is the transcendental experience of floating without direction on a vast expanse of water. It begins with a slow and steady drum beat into the warmest and most reverb drenched chords I have ever heard. New ideas are gradually introduced and the section finishes with an incredibly melancholic guitar solo.</p>

                    <p>Flood III is the destructive power of a tsunami. It turns out the earlier tranquility was simply the water receding before the main wave. A simple theme combined with subtle vocals builds up to an apocalyptic climax. The density of sound and distortion blows out both your speakers and your mind.</p>

                    <p>Quite simply a masterpiece of Post-Rock.</p>

                    <p>YT: <a href="https://www.youtube.com/watch?v=hZDstZ1-EAI">https://www.youtube.com/watch?v=hZDstZ1-EAI</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">March 11th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/tapir/the-pilgrim-their-god-and-the-king-of-my-decrepit-mountain/">Tapir! - The Pilgrim, Their God and the King of My Decrepit Mountain</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/tapir_lp1.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Indie Folk<br>Release Date: January 26th, 2024<br>My Rating: 4/5</p>

                    <p>My first notable release of 2024 goes to a very respectable 8/10 Indie Folk album by Tapir! titled "The Pilgrim, Their God and the King of My Decrepit Mountain". Although the album is an 8/10, I found a live recording of three highlights of the album which I'd actually put at a 10/10: <a href="https://www.youtube.com/watch?v=6cNaMVvBrXA">https://www.youtube.com/watch?v=6cNaMVvBrXA</a>.</p>

                    <p>The live recording has pretty much everything I've been enjoying these days. It has a unique voice, muted horns and drums, and instrumentation full of contrast, as much as you can have in a soft and warm Indie Folk recording.</p>

                    <p>And in case you want to listen to the whole album</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_nRVjLBODvaqPtyVeP_rQDGApF0rBskkLM">https://music.youtube.com/playlist?list=OLAK5uy_nRVjLBODvaqPtyVeP_rQDGApF0rBskkLM</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/4btBSwAto3RPLs2o4VLQJb">https://open.spotify.com/album/4btBSwAto3RPLs2o4VLQJb</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">February 29th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/depressive-silence/depressive-silence-ii/">Depressive Silence - Depressive Silence [II]</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/depressive_silence_ii.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Dungeon Synth<br>Release Date: 1996<br>My Rating: 4/5</p>

                    <p>Depressive Silence [II] by Depressive Silence is anything but depressing. Possibly the best album of the Dungeon Synth genre, this music is both epic and adventurous. This is the instrumental soundtrack to a journey of discovery for forgotten lands, people, and times.</p>

                    <p>Here's someone else's great one sentence review: "Easily the most perfectly Lovecraftian record I've ever listened to - not because of any direct reference to Lovecraft's works, but because it captures the sense of awe before a majestic nothingness at the heart of his poetics."</p>

                    <p>YT Music: <a href="https://www.youtube.com/watch?v=OxgVmpAk538">https://www.youtube.com/watch?v=OxgVmpAk538</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/2NnkLRaeX33d1Mn8ZLgTo8">https://open.spotify.com/album/2NnkLRaeX33d1Mn8ZLgTo8</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">February 27th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/slint/spiderland/">Slint - Spiderland</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/spiderland.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Rock, Math-Rock<br>Release Date: March 27th, 1991<br>My Rating: 4.5/5</p>

                    <p>Spiderland by Slint is without a doubt THE album which spawned the genres of both Math Rock and Post Rock, being a massive influence on titans such as "Godspeed You! Black Emperor", Mogwai, and (at least I would argue) Swans, among many other bands. Perhaps even more incredible is that the album was recorded over four days in 1990 by a bunch of 20 years olds where all the lyrics were written in studio.</p>

                    <p>The album is primarily spoken word and screamed vocals over incredibly noisy yet also starkly cold and bleak instrumentals. Everything combines with extreme contrast where a whispered spoken word section builds into an emotional roar and back down again. Of particular note are tracks 4 and 6 on the album, "Washer" and "Good Morning, Captain". </p>

                    <p>"Washer" is likely the most emotionally crushing song I've ever heard. The lyrics themselves and their delivery is despondent. The guitar melody is melancholic and depressing. Combined with a cathartic moment at the end into a fall down, the song is heartbreaking.</p>

                    <p>"Good Morning, Captain" is similarly chilling and emotionally draining with an extra dosage of cold and bleak. A fascinating six minutes of simultaneously quiet and loud music builds up to the single most emotional scream in all of music. On the one hand the culmination of the song, on the other hand the finale of the album as a whole. One of my favorite (possibly apocryphal) anecdotes is that the vocalist, Brian McMahan, recorded the last vocals of the song on a whim. When he exited the recording booth, he was soaked in sweat and completely drained. After finishing recording, he checked himself into a mental hospital.</p>

                    <p>Not quite a 10/10 since track 5 is a little bit of a stinker (relative to the album as a whole), but possibly as close to perfect as you can get, 9.5/10</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_k62V_DypQV555aJil4o3rMio-Lmuwor74">https://music.youtube.com/playlist?list=OLAK5uy_k62V_DypQV555aJil4o3rMio-Lmuwor74</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/2NnkLRaeX33d1Mn8ZLgTo8">https://open.spotify.com/album/2NnkLRaeX33d1Mn8ZLgTo8</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">January 31st, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/cisnienie/zwierzakom/">Ciśnienie  - Zwierzakom</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/zwierzakom.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Rock, Experimental Jazz-Rock<br>Release Date: December 30th, 2023<br>My Rating: 4.5/5</p>

                    <p>Some really cool polish experimental jazz rock. I think the first song is by far the best, but the album as a whole is really good as well</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_kEY5zzMwHgzFn0RXRk9biMT-2idswlSV8">https://music.youtube.com/playlist?list=OLAK5uy_kEY5zzMwHgzFn0RXRk9biMT-2idswlSV8</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/0lttOglq5HOuqRe6ygT0MF">https://open.spotify.com/album/0lttOglq5HOuqRe6ygT0MF</a></p>

                </div>

            </div>
        </article>
    </div>

</div>

{% endblock %}
