{% extends "base.html" %}

{% load static %}

{% block title %}Casual Music Reviews{% endblock %}

{% block pagetitle %}Casual Music Reviews{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <div class="container site-width" id="website" style="margin-bottom: 20px;">

        <p>I really enjoy listening to music, especially the discovery process of new music. I put a lot of effort and time into listening to new music, all for the goal of discovering something new which will blow my mind. "Flood" by Boris is one example, where after discovery and many listens, the album catapulted itself into the position of favorite album of all time. For reference, you can find my full list of favorite music at <a href="/thoughts/The Ten out of Ten Albums">the relevant thought page</a></p>

        <p>I find a lot of joy listening to new and different kinds of music, and it is a mini life goal of mine to spread unique, but not always that good, music around to other people. Although I think I lack the poetry and cultural knowledge to write really extensive music reviews, I've documented my brief thoughts of a wide variety of music in this project page. Note that the date listed is when the music was first reviewed, I may have updated the review since then.</p>

    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">May 21st, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/lamp/%E6%81%8B%E4%BA%BA%E3%81%B8-koibito-e/">Lamp - 恋人へ</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/for_lovers.png' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Jazz Pop, Bossa Nova<br>Release Date: February 11th, 2004<br>My Rating: 4.5/5</p>

                    <p>Lamp has some of the most mellow and soothing music to ever grace the face of this planet. Their album "恋人へ" (translated as "For Lovers") is incredibly warm Jazz Pop with hints of Bossa Nova. Imagine you're walking along a Studio Ghibli-esque beachside on a peaceful summer night. Distill that feeling, butter it over silky smooth jazz, and layer mellow vocals on top. Welcome to the world of Lamp</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_mDSyH2kGcoATU9poAsdKp4RFS2poaMFTo">https://music.youtube.com/playlist?list=OLAK5uy_mDSyH2kGcoATU9poAsdKp4RFS2poaMFTo</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/0gwS2D9sukMLXNvleEnYr2">https://open.spotify.com/album/0gwS2D9sukMLXNvleEnYr2</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">May 8th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/kamasi-washington/fearless-movement/">Kamasi Washington - Fearless Movement</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/fearless_movement.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Spiritual Jazz, Jazz Fusion<br>Release Date: May 3rd, 2024<br>My Rating: 4/5</p>

                    <p>My boy Kamasi Washington, one of the more famous modern Jazz musicians, recently dropped a new album called "Fearless Movement". If you've heard of him but are not sure where, he was a significant but hidden driving force behind "To Pimp a Butterfly" by Kendrick Lamar. The album features genuine Jazz-Rap, excellent spiritual jazz, and features by storied individuals such as Thundercat and George Clinton, as well as a underground yet promising New Age flutist called Andre 3000. "Fearless Movement" and what Kamasi Washington is doing feels like the future of jazz.</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_ku_hVMiBSyQvMndjOcB6CSgSw1eJ3uQYA">https://music.youtube.com/playlist?list=OLAK5uy_ku_hVMiBSyQvMndjOcB6CSgSw1eJ3uQYA</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/0Jy18n9qpKS4RyDYmaPpdL">https://open.spotify.com/album/0Jy18n9qpKS4RyDYmaPpdL</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">April 22nd, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/%E3%83%9F%E3%83%89%E3%83%AA/%E3%81%82%E3%82%89%E3%81%9F%E3%82%81%E3%81%BE%E3%81%97%E3%81%A6%E3%80%81%E3%81%AF%E3%81%98%E3%82%81%E3%81%BE%E3%81%97%E3%81%A6%E3%80%81%E3%83%9F%E3%83%89%E3%83%AA%E3%81%A7%E3%81%99%E3%80%82-aratamemashite-hajimemashite-midori-desu/">Midori - あらためまして、はじめまして、ミドリです</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/midori_lp2.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Jazz-Punk<br>Release Date: May 14th, 2008<br>My Rating: 4.5/5</p>

                    <p>One of my favorite albums ever released is a Japanese jazz punk album by Midori titled "あらためまして、はじめまして、ミドリです" (translated as "Nice to meet you again, I'm Midori"). Seriously, do not get baited by the first song, the emphasis for this album is on the PUNK part of jazz punk. Here's someone else's review which I think perfectly encapsulates the music:</p>

                    <p>"You could go to a jazz bar and be chilling there with a drink in hand, watching the band play some classic numbers, and even though you think they may be playing it too fast, the lovely lady on the mic eases every wrong in your mind. Her voice is cute, almost childish, but the way everything just falls into place is almost unsettling. Then all of a sudden, all hell breaks loose. Literally. The tempo is upped by a good five hundred percent, the band is now playing monstrous riffs and the drummer is beating the shit out of his instrument. The lady has gone berserk, and while howling and screaming into the mic, she now proceeds to bludgeon you to death. The whole aesthetic would make any hardcore act proud."</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_lm3hNmpsw8KoC5swnHsKYvfHn8i01fYwA">https://music.youtube.com/playlist?list=OLAK5uy_lm3hNmpsw8KoC5swnHsKYvfHn8i01fYwA</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/5q8Hkakvwmb5Zyk4nUZKyD">https://open.spotify.com/album/5q8Hkakvwmb5Zyk4nUZKyD</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">March 26th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/boris/flood/">Boris - Flood</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/flood.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Rock, Drone<br>Release Date: December 15th, 2000<br>My Rating: 5/5</p>

                    <p>Well, it finally happened, my favorite album of all time, "98.12.28 Otokotachi no Wakare" by Fishmans has been unseated from it's throne.</p>

                    <p>The new King is a Post-Rock/Drone album titled "Flood" by Boris. While technically a single track spanning 70 minutes, it is divided into four parts titled Flood I through IV. Amazingly for a new favorite album of all time, half of the runtime in Flood I and IV are simply okay. But Flood II and III are the greatest 35 minutes of music I've ever heard. They are so far beyond 10/10 it excuses the middling sounds before and after.</p>

                    <p>Flood II is the transcendental experience of floating without direction on a vast expanse of water. It begins with a slow and steady drum beat into the warmest and most reverb drenched chords I have ever heard. New ideas are gradually introduced and the section finishes with an incredibly melancholic guitar solo.</p>

                    <p>Flood III is the destructive power of a tsunami. It turns out the earlier tranquility was simply the water receding before the main wave. A simple theme combined with subtle vocals builds up to an apocalyptic climax. The density of sound and distortion blows out both your speakers and your mind.</p>

                    <p>Quite simply a masterpiece of Post-Rock.</p>

                    <p>YT: <a href="https://www.youtube.com/watch?v=hZDstZ1-EAI">https://www.youtube.com/watch?v=hZDstZ1-EAI</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">March 11th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/tapir/the-pilgrim-their-god-and-the-king-of-my-decrepit-mountain/">Tapir! - The Pilgrim, Their God and the King of My Decrepit Mountain</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/tapir_lp1.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Indie Folk<br>Release Date: January 26th, 2024<br>My Rating: 4/5</p>

                    <p>My first notable release of 2024 goes to a very respectable 8/10 Indie Folk album by Tapir! titled "The Pilgrim, Their God and the King of My Decrepit Mountain". Although the album is an 8/10, I found a live recording of three highlights of the album which I'd actually put at a 10/10: <a href="https://www.youtube.com/watch?v=6cNaMVvBrXA">https://www.youtube.com/watch?v=6cNaMVvBrXA</a>.</p>

                    <p>The live recording has pretty much everything I've been enjoying these days. It has a unique voice, muted horns and drums, and instrumentation full of contrast, as much as you can have in a soft and warm Indie Folk recording.</p>

                    <p>And in case you want to listen to the whole album</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_nRVjLBODvaqPtyVeP_rQDGApF0rBskkLM">https://music.youtube.com/playlist?list=OLAK5uy_nRVjLBODvaqPtyVeP_rQDGApF0rBskkLM</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/4btBSwAto3RPLs2o4VLQJb">https://open.spotify.com/album/4btBSwAto3RPLs2o4VLQJb</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">February 29th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/depressive-silence/depressive-silence-ii/">Depressive Silence - Depressive Silence [II]</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/depressive_silence_ii.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Dungeon Synth<br>Release Date: 1996<br>My Rating: 4/5</p>

                    <p>Depressive Silence [II] by Depressive Silence is anything but depressing. Possibly the best album of the Dungeon Synth genre, this music is both epic and adventurous. This is the instrumental soundtrack to a journey of discovery for forgotten lands, people, and times.</p>

                    <p>Here's someone else's great one sentence review: "Easily the most perfectly Lovecraftian record I've ever listened to - not because of any direct reference to Lovecraft's works, but because it captures the sense of awe before a majestic nothingness at the heart of his poetics."</p>

                    <p>YT Music: <a href="https://www.youtube.com/watch?v=OxgVmpAk538">https://www.youtube.com/watch?v=OxgVmpAk538</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/2NnkLRaeX33d1Mn8ZLgTo8">https://open.spotify.com/album/2NnkLRaeX33d1Mn8ZLgTo8</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">February 27th, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/slint/spiderland/">Slint - Spiderland</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/spiderland.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Rock, Math-Rock<br>Release Date: March 27th, 1991<br>My Rating: 4.5/5</p>

                    <p>Spiderland by Slint is without a doubt THE album which spawned the genres of both Math Rock and Post Rock, being a massive influence on titans such as "Godspeed You! Black Emperor", Mogwai, and (at least I would argue) Swans, among many other bands. Perhaps even more incredible is that the album was recorded over four days in 1990 by a bunch of 20 years olds where all the lyrics were written in studio.</p>

                    <p>The album is primarily spoken word and screamed vocals over incredibly noisy yet also starkly cold and bleak instrumentals. Everything combines with extreme contrast where a whispered spoken word section builds into an emotional roar and back down again. Of particular note are tracks 4 and 6 on the album, "Washer" and "Good Morning, Captain". </p>

                    <p>"Washer" is likely the most emotionally crushing song I've ever heard. The lyrics themselves and their delivery is despondent. The guitar melody is melancholic and depressing. Combined with a cathartic moment at the end into a fall down, the song is heartbreaking.</p>

                    <p>"Good Morning, Captain" is similarly chilling and emotionally draining with an extra dosage of cold and bleak. A fascinating six minutes of simultaneously quiet and loud music builds up to the single most emotional scream in all of music. On the one hand the culmination of the song, on the other hand the finale of the album as a whole. One of my favorite (possibly apocryphal) anecdotes is that the vocalist, Brian McMahan, recorded the last vocals of the song on a whim. When he exited the recording booth, he was soaked in sweat and completely drained. After finishing recording, he checked himself into a mental hospital.</p>

                    <p>Not quite a 10/10 since track 5 is a little bit of a stinker (relative to the album as a whole), but possibly as close to perfect as you can get, 9.5/10</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_k62V_DypQV555aJil4o3rMio-Lmuwor74">https://music.youtube.com/playlist?list=OLAK5uy_k62V_DypQV555aJil4o3rMio-Lmuwor74</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/2NnkLRaeX33d1Mn8ZLgTo8">https://open.spotify.com/album/2NnkLRaeX33d1Mn8ZLgTo8</a></p>

                </div>

            </div>
        </article>
    </div>

    <div class="container site-width">
        <article class="row single-post mt-5 no-gutters">
            
            <h4 class="text-center mx-auto">
                <div class="boxed">January 31st, 2024: <a rel="noopener noreferrer" target="_blank" href="https://rateyourmusic.com/release/album/cisnienie/zwierzakom/">Ciśnienie  - Zwierzakom</a></div>
            </h4>

            <div class="col-sm-12">

                <div class="image-wrapper float-left w-50 p-3">
                    <img src="{% static 'mysite/zwierzakom.jpg' %}" class="w-100">
                </div>

                <div class="single-post-content-wrapper p-3">

                    <p>Genre: Post-Rock, Experimental Jazz-Rock<br>Release Date: December 30th, 2023<br>My Rating: 4.5/5</p>

                    <p>Some really cool polish experimental jazz rock. I think the first song is by far the best, but the album as a whole is really good as well</p>

                    <p>YT Music: <a href="https://music.youtube.com/playlist?list=OLAK5uy_kEY5zzMwHgzFn0RXRk9biMT-2idswlSV8">https://music.youtube.com/playlist?list=OLAK5uy_kEY5zzMwHgzFn0RXRk9biMT-2idswlSV8</a></p>

                    <p>Spotify: <a href="https://open.spotify.com/album/0lttOglq5HOuqRe6ygT0MF">https://open.spotify.com/album/0lttOglq5HOuqRe6ygT0MF</a></p>

                </div>

            </div>
        </article>
    </div>

</div>

{% endblock %}
