{% extends "base.html" %}

{% load static %}

{% block title %}Ethical Development of a Transportation Demand Model{% endblock %}

{% block other-head %}
{% endblock %}

{% block pagetitle %}Ethical Development of a Transportation Demand Model{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <!-- Description of the project -->
    <div class="container site-width" style="margin-bottom: 20px;">

        <figure class="figure site-width" style="margin-bottom: 10px;">
            <img src="{% static 'mysite/tdm_example.png' %}" class="figure-img img-fluid site-width" style="height: auto;">
            <figcaption class="figure-caption text-center">One step in the development of a transportation demand model. An area is split up into numbered zones identifying trip sources and trip destinations. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://www.partnc.org/">PART</a>.</figcaption>
        </figure>

        <p>A travel demand model uses travel behavior to predict how travel patterns will change based on specific infrastructure changes. As has been the current trend in the US since at least the early 1900s, travel demand models have primarily focused on how traveling by car changes. [TODO: some stuff about the health impacts of driving]</p>

        <p>In addition to the health impacts of car travel, there are of course significant time and money costs also associated wtih car travel. [TODO]</p>

        <div class="row">
            <div class="col-sm-6">
                <figure class="figure w100">
                    <img src="{% static 'mysite/micromobility.jpg' %}" class="figure-img img-fluid" style="height: auto;">
                    <figcaption class="figure-caption text-center">Various forms of micromobility. Image credit to <a rel="noopener noreferrer" target="_blank" href="https://joyride.city">Joyride</a>.</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <p>As a result of these various car travel related health impacts, there has been a recent push towards less motorized forms of transportation, including but not limited to walking, biking, miro-mobility, and various forms of public transit. However, as a result of previous history, travel demand models do not accurately capture how non-car transit changes with new infrastructure.</p>

                <p>Then, this project is a hypothetical process where I will develop a transportation demand model in an ethical manner. Although not the only ethical issue, a major theme of this project will be my attempts to caputre the travel behavior of disadvantaged communities such as the children, the elderly, and the poor. Note, I consider them disadvantged because these groups tend to lack access to personal vehicles and are thus at a disadvantage when our transportation network is built around cars. As a result they are the groups that can best benefit from the appropriate use of my travel demand model.</p>
            </div>
        </div>

        <p>This hypothetical project will proceed along four primary steps: data collection and measurement, analysis and modeling, usage of the project, and finally revision, scaling, and long term considerations. Throughout each of these steps, the ethical impact on disadvantaged communities will be discussed, as well as some more specific ethical/justice related issues.</p>

        <p>To begin browsing the project, simply look through the table of contents below:</p>

    </div>

    <!-- Table of contents -->
    <div class="container site-width" style="margin-bottom: 20px;">

        <h4>TABLE OF CONTENTS</h4>

        <p><a href="/projects/ethical_tdm">Project Home</a></p>
        <p><a href="/projects/ethical_tdm/data">Data Collection and Measurement</a></p>
        <p><a href="/projects/ethical_tdm/analysis_and_modeling">Analysis and Modeling</a></p>
        <p><a href="/projects/ethical_tdm/usage">Usage</a></p>
        <p><a href="/projects/ethical_tdm/revision">Revision, Scaling, and Long Term Considerations</a></p>
    </div>

</div>

{% endblock %}


{% block scripts %}
{% endblock %}

