{% extends "base.html" %}

{% load static %}

{% block title %}The Art of Computer Programming{% endblock %}

{% block other-head %}
{% endblock %}

{% block pagetitle %}The Art of Computer Programming{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <!-- Description of the project -->
    <div class="container site-width">

        <p>Placeholder image</p>

        <p>Flavor Text</p>

    </div>

    <!-- Table of contents -->
    <div class="container site-width" style="margin-bottom: 20px;">

        <h4>TABLE OF CONTENTS</h4>

        <p><a href="/projects/TAOCP">Project Home</a></p>
        <p><a href="/projects/TAOCP/TAOCP Volume 1">The Art of Computer Programming Volume 1: Fundamental Algorithms</a></p>
        <p>The Art of Computer Programming Volume 2: Seminumerical Algoithms</p>
        <p>The Art of Computer Programming Volume 3: Sorting and Searching</p>
        <p>The Art of Computer Programming Volume 4a: Combinatorial Algorithms, Part 1</p>
        <p>The Art of Computer Programming Volume 4b: Combinatorial Algorithms, Part 2</p>
    </div>

</div>

{% endblock %}


{% block scripts %}
{% endblock %}

