{% extends "base.html" %}

{% load static %}

{% block title %}Timeline{% endblock %}

{% block other-head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<style type="text/css">
    #sortable-table span {
        display: none;
    }
</style>
{% endblock %}

{% block pagetitle %}Timeline{% endblock %}

{% block content %}

<div class="paragraphs text-left">

    <!-- Structure to run the actual project -->
    <div class="container site-width" id="website" style="margin-bottom: 20px;">

        <p>I have for as long as I can remember, had an awful memory for things that I have done and things that have happened to me. This project is my attempt to record my history including past, present, and future events. Not included on this list are more mundane events, which to me include things like parties, eating out, etc.</p>

        <p>The project was started on August 23rd, 2022. Events that occurred many years before this date (or to be honest, even a few months before this date) are likely the result of research rather than recollection.</p>

        <p>This project is still heavily work in progress.</p>

        <div class="row">
            <h4 class="text-center mx-auto">
                <div class="boxed">The History of Eric</div>
            </h4>
        </div>

        <table id="sortable-table" class="table table-striped table-bordered w-100">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>20240925</span>September 25th, 2024</td>
                    <td>Concert: Boris and Starcrawler @ Music Box, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240914</span>September 14th, 2024</td>
                    <td>Concert: MASS OF THE FERMENTING DREGS, Cam Kahin, and Blush @ Casbah, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240905</span>September 5th, 2024</td>
                    <td>Concert: The Messthetics and James Brandon Lewis @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240730</span>July 30th, 2024</td>
                    <td>Concert: Ringo Deathstar @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240725</span>July 25th, 2024</td>
                    <td>Concert: Spiritual Cramp, ultra Q, and cold gawd @ Casbah, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240710</span>July 10th, 2024</td>
                    <td>Concert: vs self, A Newfound Interest in Connecticut, Kuromy, Train Breaks Down @ Music Box, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240707</span>July 7th, 2024</td>
                    <td>Concert: State Faults and Frail Body @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240615</span>June 15th, 2024</td>
                    <td>Concert: Ok Goodnight, Challenger Deep, Lines in the Sky @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240604</span>June 4th, 2024</td>
                    <td>Concert: Trauma Ray, Downward, Lesser Care @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240530</span>May 30th, 2024</td>
                    <td>Concert: Mind's Eye and Friko @ House of Blues Voodoo Room, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240525</span>May 25th, 2024</td>
                    <td>Biking: 100,28 miles in 7:23:20 (13.6 mph)</td>
                </tr>
                <tr>
                    <td><span>20240518</span>May 18th, 2024</td>
                    <td>Concert: Panchiko, Weatherday, and Wisp @ The Observatory North Park, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240516</span>May 16th, 2024</td>
                    <td>Concert: Wednesday and Draag @ Quartyard, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240512</span>May 12th, 2024</td>
                    <td>Biking: 100.30 miles in 7:10:52 (14.0 mph)</td>
                </tr>
                <tr>
                    <td><span>20240503</span>May 3rd, 2024</td>
                    <td>Concert: Amenra, Primitive Man, and Slow Crush @ Brick by Brick, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240416</span>April 16th, 2024</td>
                    <td>Concert: Khruangbin and Hermanos Gutierrez @ The Rady Shell, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240406</span>April 6th, 2024</td>
                    <td>Biking: Purchased a new Bianchi Milano Dama</td>
                </tr>
                <tr>
                    <td><span>20240405</span>April 5th, 2024</td>
                    <td>Concert: Arm's Length, Carly Cosgrove, Ben Quad, Saturdays at your Place @ House of Blues, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240401</span>April 1st, 2024</td>
                    <td>Concert: Wind Rose and Xandria @ Brick By Brick, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240321</span>March 21st, 2024</td>
                    <td>Concert: Jhariah @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240301</span>March 1st, 2024</td>
                    <td>Concert: The Ocean, The World Is a Beautiful Place & I Am No Longer Afraid to Die, "Shy, Low" @ Brick by Brick, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240221</span>February 21st, 2024</td>
                    <td>Concert: The Hotelier and Foxing @ August Hall, San Francisco</td>
                </tr>
                <tr>
                    <td><span>20240215</span>February 15th, 2024</td>
                    <td>Concert: Tunnel Vision @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240203</span>February 3rd, 2024</td>
                    <td>Concert: True Loves and Gypsy Sally @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240203</span>February 3rd, 2024</td>
                    <td>Biking: Purchased a new Surly Preamble</td>
                </tr>
                <tr>
                    <td><span>20240127</span>January 27th, 2024</td>
                    <td>Concert: Explosions in the Sky @ SOMA, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240112</span>January 12th, 2024</td>
                    <td>Concert: Slaughter Beach, Dog and Sun June @ The Observatory North Park, San Diego</td>
                </tr>
                <tr>
                    <td><span>20240106</span>January 6th, 2024</td>
                    <td>Concert: The Charlatans and RIDE @ House of Blues, San Diego</td>
                </tr>
                <tr>
                    <td><span>20231217</span>December 17th, 2023</td>
                    <td>Concert: Jeff Rosenstock, ???, and Small Crush @ The Observatory North Park, San Diego</td>
                </tr>
                <tr>
                    <td><span>20231208</span>December 8th, 2023</td>
                    <td>Concert: Deafheaven, Touché Amoré, and Crushed @ The Novo, Los Angeles</td>
                </tr>
                <tr>
                    <td><span>20231122</span>November 22nd, 2023</td>
                    <td>Concert: black midi and Anysia Kym @ The Observatory North Park, San Diego</td>
                </tr>
                <tr>
                    <td><span>20231116</span>November 16th, 2023</td>
                    <td>Concert: Atmosphere, ???, and No Fun! @ The Observatory North Park, San Diego</td>
                </tr>
                <tr>
                    <td><span>20231025</span>October 25th, 2023</td>
                    <td>Concert: Holy Fawn, Caracara, and lowheaven @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20231012</span>October 12th, 2023</td>
                    <td>Concert: Slowdive @ The Warfield, San Francisco</td>
                </tr>
                <tr>
                    <td><span>20231007</span>October 7th, 2023</td>
                    <td>Concert: Teenage Wrist, Spiritual Cramp, Heavenward, and Slow Joy @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20231003</span>October 3rd, 2023</td>
                    <td>Climbing: Started climbing again for the first time since graduation</td>
                </tr>
                <tr>
                    <td><span>20230921</span>September 21st, 2023</td>
                    <td>Concert: Knifeplay, Sparkler, and Kan Kan @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230910</span>September 10th, 2023</td>
                    <td>Concert: Home View, MARBLE, Two Headed Girl, Veto @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230831</span>August 31st, 2023</td>
                    <td>Housing: Ended lease @ Wimberly Square, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230818</span>August 18th, 2023</td>
                    <td>Concert: Surprise Chef and Akua Naru @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230818</span>August 18th, 2023</td>
                    <td>Housing: Started lease @ Marlborough Ave, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230729</span>July 29th, 2023</td>
                    <td>Concert: The Aquabats, The Aggrolites, and Mrs. Magician @ House of Blues, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230721</span>July 21st, 2023</td>
                    <td>Concert: Standards, Via Luna, and Positioner @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230715</span>July 15th, 2023</td>
                    <td>Concert: Andrew Jackson Jihad, Open Mike Eagle, and Stephen Steinbrink @ Cornerstone, Berkeley</td>
                </tr>
                <tr>
                    <td><span>20230515</span>May 15th, 2023</td>
                    <td>Concert: TWRP and Magic Sword @ Music Box, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230428</span>April 28th, 2023</td>
                    <td>Concert: Strawberry Girls, Body Thief, Standards, Tang @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230416</span>April 16th, 2023</td>
                    <td>Concert: RADWIMPS @ San Jose Civic Center, San Jose</td>
                </tr>
                <tr>
                    <td><span>20230310</span>March 10th, 2023</td>
                    <td>Concert: Joyce Manor, PUP, and Pool Kids @ SOMA, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230225</span>February 25th, 2023</td>
                    <td>Concert: The San Diego Symphony performing Beethoven's Concerto No.3 and Symphony No.4 @ San Diego Civic Theatre, San Diego</td>
                </tr>
                <tr>
                    <td><span>20230218</span>February 18th, 2023</td>
                    <td>Concert: Slow Crush and Death Bells @ House of Blues, San Diego</td>
                </tr>
                <tr>
                    <td><span>20221130</span>November 30th, 2022</td>
                    <td>Concert: El Ten Eleven and Magic Sword @ Music Box, San Diego</td>
                </tr>
                <tr>
                    <td><span>20221022</span>October 22nd, 2022</td>
                    <td>Concert: Death Cab for Cutie and Yo La Tengo @ Epstein Family Ampitheatre, San Diego</td>
                </tr>
                <tr>
                    <td><span>20221010</span>October 10th, 2022</td>
                    <td>Work: Started Data Scientist I position in the Estimates/Forecasts team @ San Diego Association of Governments</td>
                </tr>
                <tr>
                    <td><span>20220925</span>September 25th, 2022</td>
                    <td>Concert: Kikagaku Moyo and Briana Marela @ The Warfield, San Francisco</td>
                </tr>
                <tr>
                    <td><span>20220923</span>September 23rd, 2022</td>
                    <td>Concert: black midi and Black County, New Road @ Music Box, San Diego</td>
                </tr>
                <tr>
                    <td><span>20220902</span>September 2nd, 2022</td>
                    <td>Concert: Andrew Jackson Jihad @ SOMA - Sidestage, San Diego</td>
                </tr>
                <tr>
                    <td><span>20220831</span>August 31st, 2022</td>
                    <td>Housing: Renewed lease for another year @ Wimberly Square, San Diego</td>
                </tr>
                <tr>
                    <td><span>20220808</span>August 8th, 2022</td>
                    <td>Concert: Foxing, Greet Death, and Home is Where @ Soda Bar, San Diego</td>
                </tr>
                <tr>
                    <td><span>20220705</span>July 5th, 2022</td>
                    <td>Work: Started Data QA/QC Intern position @ San Diego Association of Governments</td>
                </tr>
                <tr>
                    <td><span>20220620</span>June 20th, 2022</td>
                    <td>Work: Started (and immediately quit) Traffic Quality Analyst position @ Epsilon</td>
                </tr>
                <tr>
                    <td><span>20220610</span>June 10th, 2022</td>
                    <td>School: Graduated from UC San Diego with a Bachelor of Science in Data Science and a Bachelor of Art in Philosophy</td>
                </tr>
                <tr>
                    <td><span>20220610</span>June 10th, 2022</td>
                    <td>Concert: Covet, Hikes, and King of Heck @ August Hall, San Francisco</td>
                </tr>
                <tr>
                    <td><span>20220527</span>May 27th, 2022 - May 30th, 2022</td>
                    <td>Climbing: Priest's Draw in Flagstaff, Arizona</td>
                </tr>
                <tr>
                    <td><span>20220507</span>May 7th, 2022</td>
                    <td>Concert: Prince Daddy & the Hyena, Macseal, and Insignificant Other @ House of Blues, San Diego</td>
                </tr>
                <tr>
                    <td><span>20220326</span>March 26th, 2022 - March 27th, 2022</td>
                    <td>Climbing: Buttermilks and Druid Stones in Bishop, California</td>
                </tr>
                <tr>
                    <td><span>20220306</span>March 6th, 2022</td>
                    <td>Climbing: Joshua Tree National Park, California. Twisted my left ankle</td>
                </tr>
                <tr>
                    <td><span>20220212</span>February 12th, 2022</td>
                    <td>Climbing: Joshua Tree National Park, California</td>
                </tr>
                <tr>
                    <td><span>20211219</span>December 19th, 2021 - December 22nd, 2021</td>
                    <td>Climbing: Kraft Boulders in Red Rock Canyon, Nevada</td>
                </tr>
                <tr>
                    <td><span>20210831</span>August 31st, 2021</td>
                    <td>Housing: Ended lease @ Via Sonoma, La Jolla</td>
                </tr>
                <tr>
                    <td><span>20210813</span>August 13th, 2021</td>
                    <td>Housing: Started lease @ Wimberly Square, San Diego</td>
                </tr>
                <tr>
                    <td><span>20200824</span>August 31st, 2020</td>
                    <td>Housing: Ended lease @ Via Marin, La Jolla</td>
                </tr>
                <tr>
                    <td><span>20200824</span>August 24th, 2020</td>
                    <td>Housing: Started lease @ Via Sonoma, La Jolla</td>
                </tr>
                <tr>
                    <td><span>20190826</span>August 26th, 2019</td>
                    <td>Housing: Started lease @ Via Marin, La Jolla</td>
                </tr>
                <tr>
                    <td><span>20170925</span>September 25th, 2017</td>
                    <td>School: Started college at UC San Diego as an undeclared major</td>
                </tr>

            </tbody>
        </table>

    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $('#sortable-table').DataTable( {
        "searching": true,
        "ordering": true,
        "order": [[0, "desc"]],
        "paging": false
    });
} );
</script>
{% endblock %}
