body {
    margin: auto;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.margin-right {
    margin-right: 20px;
}

.boxed {
    border: 1px solid black;
    display: table;
    padding: 5px;
    margin: auto;
}

.site-width {
    max-width: 1000px;
}